n8n/ApproveHub Meeting Room Workflow.json
{
  "name": "ApproveHub - Meeting Room",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nhan-yeu-cau-dat-phong",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Webhook Nhận Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-3800, 500],
      "webhookId": "approvehub-meeting-room"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\nconst bookingId = data.bookingId || data.booking_id || '';\nconst requesterName = data.requesterName || data.requester_name || '';\nconst requesterEmail = data.requesterEmail || data.requester_email || '';\nconst roomName = data.roomName || data.room_name || '';\nconst meetingDate = data.meetingDate || data.meeting_date || '';\nconst startTime = data.startTime || data.start_time || '';\nconst endTime = data.endTime || data.end_time || '';\nconst purpose = data.purpose || '';\nconst attendees = data.attendees || 1;\nconst managerEmail = data.managerEmail || data.manager_email || 'quanganh.hs2005@gmail.com';\nreturn [{ json: { booking_id: bookingId, requester_name: requesterName, requester_email: requesterEmail, room_name: roomName, meeting_date: meetingDate, start_time: startTime, end_time: endTime, purpose, attendees, manager_email: managerEmail, valid: !!(requesterEmail && requesterName && roomName && meetingDate) } }];"
      },
      "id": "normalize-data",
      "name": "Normalize dữ liệu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3600, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "valid-check", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Dữ liệu hợp lệ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-3400, 500]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "Thiếu thông tin!", "options": {} },
      "id": "error-validation",
      "name": "Lỗi Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-3200, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "https://docs.google.com/spreadsheets/d/1P7PjJTusnisb3FjDmqMay17voSc0fpkUkBw73Gp-uyA/edit?usp=sharing", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Trang tính1", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [],
          "schema": [
            { "id": "booking_id", "displayName": "booking_id", "type": "string", "canBeUsedToMatch": true },
            { "id": "requester_name", "displayName": "requester_name", "type": "string" },
            { "id": "requester_email", "displayName": "requester_email", "type": "string" },
            { "id": "room_name", "displayName": "room_name", "type": "string" },
            { "id": "meeting_date", "displayName": "meeting_date", "type": "string" },
            { "id": "start_time", "displayName": "start_time", "type": "string" },
            { "id": "end_time", "displayName": "end_time", "type": "string" },
            { "id": "purpose", "displayName": "purpose", "type": "string" },
            { "id": "attendees", "displayName": "attendees", "type": "string" },
            { "id": "status", "displayName": "status", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "save-sheets",
      "name": "Lưu Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-3200, 500],
      "onError": "continueRegularOutput",
      "credentials": { "googleSheetsOAuth2Api": { "id": "7ji2ElvcG2VW2ujq", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "fromEmail": "anhlq.23ite@vku.udn.vn",
        "toEmail": "={{ $json.requester_email }}",
        "subject": "=[Xác nhận] Đặt phòng {{ $json.room_name }} đang chờ phê duyệt",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;border:1px solid #ddd;padding:24px;border-radius:8px\">\n<h2 style=\"color:#2563eb\">📅 Yêu cầu đặt phòng đã được ghi nhận</h2>\n<hr style=\"border:0;border-top:1px solid #eee\">\n<p>Xin chào <b>{{ $json.requester_name }}</b>,</p>\n<p>Yêu cầu đặt phòng của bạn đang chờ quản lý phê duyệt.</p>\n<table style=\"width:100%;border-collapse:collapse;margin:12px 0\">\n<tr><td style=\"padding:6px 0;color:#555\"><b>🏢 Phòng:</b></td><td>{{ $json.room_name }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📆 Ngày:</b></td><td>{{ $json.meeting_date }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>⏰ Thời gian:</b></td><td>{{ $json.start_time }} - {{ $json.end_time }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📝 Mục đích:</b></td><td>{{ $json.purpose }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>🔢 Mã Booking:</b></td><td><code>{{ $json.booking_id }}</code></td></tr>\n</table>\n<p style=\"font-size:13px;color:#888\">Bạn sẽ nhận email thông báo khi có kết quả.</p>\n</div>",
        "options": {}
      },
      "id": "email-confirm-user",
      "name": "Email xác nhận cho User",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [-3000, 500],
      "credentials": { "smtp": { "id": "uIuMSGgKqTwn2zvZ", "name": "SMTP account" } }
    },
    {
      "parameters": {
        "fromEmail": "anhlq.23ite@vku.udn.vn",
        "toEmail": "quanganh.hs2005@gmail.com",
        "subject": "=[Cần phê duyệt] Đặt phòng {{ $json.room_name }} - {{ $json.requester_name }}",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;border:1px solid #2563eb;padding:24px;border-radius:8px\">\n<h2 style=\"color:#2563eb\">📋 Yêu cầu đặt phòng cần phê duyệt</h2>\n<hr style=\"border:0;border-top:1px solid #eee\">\n<p>Kính gửi Quản lý,</p>\n<table style=\"width:100%;border-collapse:collapse;margin:12px 0\">\n<tr><td style=\"padding:6px 0;color:#555;width:130px\"><b>👤 Người đặt:</b></td><td>{{ $json.requester_name }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📧 Email:</b></td><td>{{ $json.requester_email }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>🏢 Phòng:</b></td><td>{{ $json.room_name }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📆 Ngày:</b></td><td>{{ $json.meeting_date }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>⏰ Thời gian:</b></td><td>{{ $json.start_time }} - {{ $json.end_time }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📝 Mục đích:</b></td><td>{{ $json.purpose }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>🔢 Mã Booking:</b></td><td><code>{{ $json.booking_id }}</code></td></tr>\n</table>\n<div style=\"text-align:center;margin:28px 0\">\n<a href=\"https://n8n.internalautomation.io.vn/webhook/mr-approval?booking_id={{ $json.booking_id }}&action=approve\" style=\"background-color:#16a34a;color:#fff;padding:14px 28px;text-decoration:none;border-radius:6px;font-weight:bold;font-size:14px;display:inline-block;margin-right:12px\">✅ Phê duyệt</a>\n<a href=\"https://n8n.internalautomation.io.vn/webhook/mr-approval?booking_id={{ $json.booking_id }}&action=reject\" style=\"background-color:#dc2626;color:#fff;padding:14px 28px;text-decoration:none;border-radius:6px;font-weight:bold;font-size:14px;display:inline-block\">❌ Từ chối</a>\n</div>\n<p style=\"text-align:center;font-size:12px;color:#999\">Email tự động từ hệ thống ApproveHub.</p>\n</div>",
        "options": {}
      },
      "id": "email-notify-manager",
      "name": "Email thông báo Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [-2800, 500],
      "credentials": { "smtp": { "id": "uIuMSGgKqTwn2zvZ", "name": "SMTP account" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"status\": \"success\" }", "options": {} },
      "id": "success-response",
      "name": "Phản hồi thành công",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-2600, 500]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mr-approval",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-approval",
      "name": "Webhook Phê duyệt",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-3800, 1200],
      "webhookId": "approvehub-mr-approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "action-check", "leftValue": "={{ $json.query.action }}", "rightValue": "approve", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-action",
      "name": "Approve hay Reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-3600, 1200]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { booking_id: $('Webhook Phê duyệt').item.json.query.booking_id, status: 'approved' } }];"
      },
      "id": "prep-approve",
      "name": "Prep Approve Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3600, 1100]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { booking_id: $('Webhook Phê duyệt').item.json.query.booking_id, status: 'rejected' } }];"
      },
      "id": "prep-reject",
      "name": "Prep Reject Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3600, 1300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "https://docs.google.com/spreadsheets/d/1P7PjJTusnisb3FjDmqMay17voSc0fpkUkBw73Gp-uyA/edit?usp=sharing", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Trang tính1", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["booking_id"],
          "schema": [
            { "id": "booking_id", "displayName": "booking_id", "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "update-sheets-approve",
      "name": "Cập nhật Sheets Approve",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-3400, 1100],
      "credentials": { "googleSheetsOAuth2Api": { "id": "7ji2ElvcG2VW2ujq", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "https://docs.google.com/spreadsheets/d/1P7PjJTusnisb3FjDmqMay17voSc0fpkUkBw73Gp-uyA/edit?usp=sharing", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Trang tính1", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["booking_id"],
          "schema": [
            { "id": "booking_id", "displayName": "booking_id", "type": "string", "canBeUsedToMatch": true },
            { "id": "status", "displayName": "status", "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "update-sheets-reject",
      "name": "Cập nhật Sheets Reject",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-3400, 1300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "7ji2ElvcG2VW2ujq", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "https://docs.google.com/spreadsheets/d/1P7PjJTusnisb3FjDmqMay17voSc0fpkUkBw73Gp-uyA/edit?usp=sharing", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Trang tính1", "mode": "name" },
        "filtersUI": {
          "values": [{ "lookupColumn": "booking_id", "lookupValue": "={{ $('Webhook Phê duyệt').item.json.query.booking_id }}" }]
        },
        "options": {}
      },
      "id": "get-booking-approve",
      "name": "Lấy Booking (Approve)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-3200, 1100],
      "credentials": { "googleSheetsOAuth2Api": { "id": "7ji2ElvcG2VW2ujq", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "https://docs.google.com/spreadsheets/d/1P7PjJTusnisb3FjDmqMay17voSc0fpkUkBw73Gp-uyA/edit?usp=sharing", "mode": "url" },
        "sheetName": { "__rl": true, "value": "Trang tính1", "mode": "name" },
        "filtersUI": {
          "values": [{ "lookupColumn": "booking_id", "lookupValue": "={{ $('Webhook Phê duyệt').item.json.query.booking_id }}" }]
        },
        "options": {}
      },
      "id": "get-booking-reject",
      "name": "Lấy Booking (Reject)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-3200, 1300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "7ji2ElvcG2VW2ujq", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "fromEmail": "anhlq.23ite@vku.udn.vn",
        "toEmail": "={{ $json.requester_email }}",
        "subject": "=[✅ Phê duyệt] Đặt phòng {{ $json.room_name }} đã được chấp thuận",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;border:1px solid #16a34a;padding:24px;border-radius:8px\">\n<h2 style=\"color:#16a34a\">✅ Yêu cầu đặt phòng đã được PHÊ DUYỆT</h2>\n<hr style=\"border:0;border-top:1px solid #eee\">\n<p>Xin chào <b>{{ $json.requester_name }}</b>,</p>\n<p>Yêu cầu đặt phòng họp của bạn đã được <b style=\"color:#16a34a\">PHÊ DUYỆT</b>.</p>\n<table style=\"width:100%;border-collapse:collapse;margin:12px 0\">\n<tr><td style=\"padding:6px 0;color:#555\"><b>🔢 Mã Booking:</b></td><td><code>{{ $json.booking_id }}</code></td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>🏢 Phòng:</b></td><td>{{ $json.room_name }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📆 Ngày:</b></td><td>{{ $json.meeting_date }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>⏰ Thời gian:</b></td><td>{{ $json.start_time }} - {{ $json.end_time }}</td></tr>\n</table>\n<p style=\"font-size:13px;color:#555\">Vui lòng có mặt đúng giờ. Nếu cần hủy, hãy liên hệ quản lý.</p>\n</div>",
        "options": {}
      },
      "id": "email-approved",
      "name": "Email Phê duyệt",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [-2900, 1100],
      "credentials": { "smtp": { "id": "uIuMSGgKqTwn2zvZ", "name": "SMTP account" } }
    },
    {
      "parameters": {
        "fromEmail": "anhlq.23ite@vku.udn.vn",
        "toEmail": "={{ $json.requester_email }}",
        "subject": "=[❌ Từ chối] Yêu cầu đặt phòng {{ $json.room_name }} không được chấp thuận",
        "emailFormat": "html",
        "html": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:auto;border:1px solid #dc2626;padding:24px;border-radius:8px\">\n<h2 style=\"color:#dc2626\">❌ Yêu cầu đặt phòng bị TỪ CHỐI</h2>\n<hr style=\"border:0;border-top:1px solid #eee\">\n<p>Xin chào <b>{{ $json.requester_name }}</b>,</p>\n<p>Yêu cầu đặt phòng họp của bạn đã bị <b style=\"color:#dc2626\">TỪ CHỐI</b>.</p>\n<table style=\"width:100%;border-collapse:collapse;margin:12px 0\">\n<tr><td style=\"padding:6px 0;color:#555\"><b>🔢 Mã Booking:</b></td><td><code>{{ $json.booking_id }}</code></td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>🏢 Phòng:</b></td><td>{{ $json.room_name }}</td></tr>\n<tr><td style=\"padding:6px 0;color:#555\"><b>📆 Ngày:</b></td><td>{{ $json.meeting_date }}</td></tr>\n</table>\n<p style=\"font-size:13px;color:#555\">Vui lòng liên hệ quản lý để biết thêm chi tiết.</p>\n</div>",
        "options": {}
      },
      "id": "email-rejected",
      "name": "Email Từ chối",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [-2900, 1300],
      "credentials": { "smtp": { "id": "uIuMSGgKqTwn2zvZ", "name": "SMTP account" } }
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "=<html><head><meta charset='UTF-8'></head><body style='font-family:Arial;text-align:center;padding:60px;background:#f9fafb'><div style='max-width:480px;margin:auto;background:#fff;border-radius:12px;padding:40px;border:2px solid #16a34a'><h2 style='color:#16a34a'>✅ Đã Phê Duyệt</h2><p style='color:#555'>Email thông báo đã được gửi đến nhân viên.</p></div></body></html>",
        "options": {}
      },
      "id": "response-approve",
      "name": "Trang Phê duyệt OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-2700, 1100]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "=<html><head><meta charset='UTF-8'></head><body style='font-family:Arial;text-align:center;padding:60px;background:#f9fafb'><div style='max-width:480px;margin:auto;background:#fff;border-radius:12px;padding:40px;border:2px solid #dc2626'><h2 style='color:#dc2626'>❌ Đã Từ Chối</h2><p style='color:#555'>Email thông báo đã được gửi đến nhân viên.</p></div></body></html>",
        "options": {}
      },
      "id": "response-reject",
      "name": "Trang Từ chối OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-2700, 1300]
    }
  ],
  "connections": {
    "Webhook Nhận Booking": { "main": [[{ "node": "Normalize dữ liệu", "type": "main", "index": 0 }]] },
    "Normalize dữ liệu": { "main": [[{ "node": "Dữ liệu hợp lệ?", "type": "main", "index": 0 }]] },
    "Dữ liệu hợp lệ?": {
      "main": [
        [{ "node": "Lưu Google Sheets", "type": "main", "index": 0 }],
        [{ "node": "Lỗi Validation", "type": "main", "index": 0 }]
      ]
    },
    "Lưu Google Sheets": {
      "main": [[
        { "node": "Email xác nhận cho User", "type": "main", "index": 0 },
        { "node": "Email thông báo Manager", "type": "main", "index": 0 }
      ]]
    },
    "Email xác nhận cho User": { "main": [[{ "node": "Phản hồi thành công", "type": "main", "index": 0 }]] },
    "Webhook Phê duyệt": { "main": [[{ "node": "Approve hay Reject?", "type": "main", "index": 0 }]] },
    "Approve hay Reject?": {
      "main": [
        [{ "node": "Prep Approve Data", "type": "main", "index": 0 }],
        [{ "node": "Prep Reject Data", "type": "main", "index": 0 }]
      ]
    },
    "Prep Approve Data": { "main": [[{ "node": "Cập nhật Sheets Approve", "type": "main", "index": 0 }]] },
    "Prep Reject Data": { "main": [[{ "node": "Cập nhật Sheets Reject", "type": "main", "index": 0 }]] },
    "Cập nhật Sheets Approve": { "main": [[{ "node": "Lấy Booking (Approve)", "type": "main", "index": 0 }]] },
    "Cập nhật Sheets Reject": { "main": [[{ "node": "Lấy Booking (Reject)", "type": "main", "index": 0 }]] },
    "Lấy Booking (Approve)": { "main": [[{ "node": "Email Phê duyệt", "type": "main", "index": 0 }]] },
    "Lấy Booking (Reject)": { "main": [[{ "node": "Email Từ chối", "type": "main", "index": 0 }]] },
    "Email Phê duyệt": { "main": [[{ "node": "Trang Phê duyệt OK", "type": "main", "index": 0 }]] },
    "Email Từ chối": { "main": [[{ "node": "Trang Từ chối OK", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Asia/Ho_Chi_Minh"
  },
  "versionId": "v2",
  "tags": []
}
