n8n/full-leave-workflow.json
{
  "name": "Leave Request - Full Workflow (7 Endpoints)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leave-request",
        "options": {}
      },
      "id": "5870ea4c-d9bb-481d-8101-7ad98ddff6ce",
      "name": "Webhook: Leave Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        15616
      ],
      "webhookId": "leave-request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manager-decision",
        "options": {}
      },
      "id": "6fe6476f-4a5d-4665-80d4-48ae0daab8e8",
      "name": "Webhook: Manager Decision",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        16016
      ],
      "webhookId": "manager-decision"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-decision",
        "options": {}
      },
      "id": "6a39ebe5-a19a-4e16-b77e-d5bf4b3b29c7",
      "name": "Webhook: HR Decision",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        16528
      ],
      "webhookId": "hr-decision"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "return-early",
        "options": {}
      },
      "id": "a84b8996-9339-4785-ba96-9f162f0944a2",
      "name": "Webhook: Return Early",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        16928
      ],
      "webhookId": "return-early"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancel-leave",
        "options": {}
      },
      "id": "ae4015a6-5fba-493a-ac3b-8515175665c2",
      "name": "Webhook: Cancel Leave",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        17328
      ],
      "webhookId": "cancel-leave"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leave-reminder",
        "options": {}
      },
      "id": "16cfc99a-aa48-4cb3-9870-2a60c952bdc2",
      "name": "Webhook: Leave Reminder",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        17728
      ],
      "webhookId": "leave-reminder"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-leave",
        "options": {}
      },
      "id": "44c502b3-1127-488b-8b78-ae5a4341b24b",
      "name": "Webhook: Update Leave",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        24112,
        18128
      ],
      "webhookId": "update-leave"
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  token: body.token || \"\",\n  leave_date: body.leave_date || body.leaveDate || \"\",\n  leave_days: parseInt(body.leave_days || body.leaveDays || 0),\n  reason: body.reason || \"\",\n  employee_email: body.employee_email || body.employeeEmail || \"\",\n  employee_name: body.employee_name || body.employeeName || \"\",\n  department: body.department || \"\",\n  backendUrl: body.backendUrl || 'https://approvehub.internalautomation.io.vn/api/leave'\n} };"
      },
      "id": "b54caf90-bd88-4cbe-9e49-0c92556d833e",
      "name": "Parse Leave Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        15616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl || 'https://approvehub.internalautomation.io.vn/api/leave' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leave_date",
              "value": "={{ $json.leave_date }}"
            },
            {
              "name": "leave_days",
              "value": "={{ $json.leave_days }}"
            },
            {
              "name": "reason",
              "value": "={{ $json.reason }}"
            },
            {
              "name": "employeeName",
              "value": "={{ $json.employee_name || $json.employeeName }}"
            },
            {
              "name": "employeeEmail",
              "value": "={{ $json.employee_email || $json.employeeEmail }}"
            },
            {
              "name": "department",
              "value": "={{ $json.department }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20834cd7-1b4c-4e95-8633-fd114b848851",
      "name": "HTTP: Create Leave",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        24512,
        15616
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = item.json;\nconst data = response.body || response;\nconst input = $('Parse Leave Request').item.json;\n\nreturn { json: {\n  success: response.statusCode === 201 || response.statusCode === 200,\n  leaveId: data.leaveId || data._id || \"\",\n  status: data.status || \"pending\",\n  managerApprovalToken: data.managerApprovalToken || \"\",\n  hrApprovalToken: data.hrApprovalToken || \"\",\n  managerApprovalLink: data.managerApprovalLink || \"\",\n  hrApprovalLink: data.hrApprovalLink || \"\",\n  requiresHrApproval: data.requiresHrApproval || false,\n  // Lấy từ input request (Frontend gửi)\n  employeeName: input.employee_name || input.employeeName || \"\",\n  employeeEmail: input.employee_email || input.employeeEmail || \"\",\n  leaveDate: input.leave_date || input.leaveDate || \"\",\n  leaveDays: input.leave_days || input.leaveDays || 0,\n  reason: input.reason || \"\",\n  department: input.department || \"\",\n  // Backend trả về\n  managerEmail: data.managerEmail || data.manager_email || \"\",\n  hrEmail: data.hrEmail || data.hr_email || \"\"\n} };"
      },
      "id": "377bbf78-9263-4b26-99c9-9c9a09cfb200",
      "name": "Parse Create Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24720,
        15616
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép từ {{ $json.employeeName }}",
        "includeHtml": true,
        "htmlMessage": "=<h2>Yêu cầu nghỉ phép mới</h2><p>Nhân viên: <strong>{{ $json.employeeName }}</strong></p><p>Phòng ban: {{ $json.department }}</p><p>Thời gian: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p><p>Lý do: {{ $json.reason }}</p><a href=\"{{ $json.managerApprovalLink }}\">Xem xét & Phê duyệt</a>",
        "message": "=",
        "toList": [
          "={{ $json.managerEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "54a7d570-3eba-464e-a2b1-81c19158a436",
      "name": "Email: To Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        24912,
        15616
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9d0aa56-9877-477d-9492-49435db3b69d",
      "name": "Respond: Leave",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        25120,
        15616
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  token: body.token || \"\",\n  action: body.action || \"\",\n  employeeName: body.employeeName || body.employee_name || \"\",\n  employeeEmail: body.employeeEmail || body.employee_email || \"\",\n  department: body.department || \"\",\n  leaveDate: body.leaveDate || body.leave_date || \"\",\n  leaveDays: parseInt(body.leaveDays || body.leave_days || 0),\n  reason: body.reason || \"\",\n  requiresHrApproval: body.requiresHrApproval || false,\n  hrApprovalLink: body.hrApprovalLink || \"\",\n  hrEmail: body.hrEmail || \"\",\n  backendUrl: body.backendUrl || 'https://approvehub.internalautomation.io.vn/api/approval/manager'\n} };"
      },
      "id": "6b8fed66-b74d-479b-86cc-2676a33c5c08",
      "name": "Parse Manager Decision",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        16016
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68ec633d-3661-408f-bedb-57bf6f287e8c",
      "name": "HTTP: Manager Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        24512,
        16016
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = item.json;\nconst data = response.body || response;\nconst input = $('Parse Manager Decision').item.json;\n\nreturn { json: {\n  success: response.statusCode === 200,\n  status: data.status || \"\",\n  message: data.message || \"\",\n  leaveId: data.leaveId || \"\",\n  // Lấy từ input request (Frontend gửi)\n  action: input.action || \"\",\n  employeeName: input.employeeName || \"\",\n  employeeEmail: input.employeeEmail || \"\",\n  leaveDate: input.leaveDate || \"\",\n  leaveDays: input.leaveDays || 0,\n  reason: input.reason || \"\",\n  department: input.department || \"\",\n  requiresHrApproval: input.requiresHrApproval || false,\n  hrApprovalLink: input.hrApprovalLink || \"\",\n  hrEmail: input.hrEmail || \"\",\n  // Backend trả về\n  managerEmail: data.managerEmail || \"\"\n} };"
      },
      "id": "d8ed422a-440b-4977-af1d-abd896d4e2bd",
      "name": "Parse Manager Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24720,
        16016
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "rejected",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        24912,
        16016
      ],
      "id": "593d3829-bd91-41aa-9975-cb883d5f8440",
      "name": "Check: Rejected?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.requiresHrApproval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        25168,
        16192
      ],
      "id": "0311cbb9-1a01-4db7-850a-44a65c8c3880",
      "name": "Check: Needs HR?"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép bị từ chối",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đơn nghỉ phép bị từ chối</h2><p>Kính gửi {{ $json.employeeName }},</p><p>Đơn nghỉ phép ngày {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày) đã bị <strong>Manager từ chối</strong>.</p><p>Lý do: {{ $json.reason }}</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "235a3a0b-b08d-47f4-9927-16707c23b823",
      "name": "Email: Manager Rejected",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25312,
        15792
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép cần HR duyệt từ {{ $json.employeeName }}",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đơn cần HR duyệt</h2><p>Nhân viên: <strong>{{ $json.employeeName }}</strong></p><p>Phòng ban: {{ $json.department }}</p><p>Thời gian: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p><p>Lý do: {{ $json.reason }}</p><a href=\"{{ $json.hrApprovalLink }}\">Phê duyệt tại đây</a>",
        "message": "=",
        "toList": [
          "={{ $json.hrEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "719c1d71-bf94-4cd6-9f23-ef82f3933ad4",
      "name": "Email: To HR",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25376,
        16048
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Đơn đã được Manager duyệt, chờ HR",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đơn đang chờ HR duyệt</h2><p>Kính gửi {{ $json.employeeName }},</p><p>Đơn nghỉ phép ngày {{ $json.leaveDate }} đã được <strong>Manager duyệt</strong>, đang chờ HR phê duyệt cuối cùng.</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "a29e73d9-c6d6-47fe-aae8-efe13dcf53b5",
      "name": "Email: Waiting HR",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25664,
        16048
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép đã được phê duyệt",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đơn đã được phê duyệt!</h2><p>Kính gửi {{ $json.employeeName }},</p><p>Đơn nghỉ phép ngày {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày) đã được <strong>Manager duyệt</strong>.</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "6c22c44b-1a70-423b-a4ae-02916f73f122",
      "name": "Email: Approved",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25440,
        16288
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5e5a0f66-50ef-476a-be06-ac708c2a548c",
      "name": "Respond: Manager",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        26064,
        16048
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  token: body.token || \"\",\n  action: body.action || \"\",\n  employeeName: body.employeeName || body.employee_name || \"\",\n  employeeEmail: body.employeeEmail || body.employee_email || \"\",\n  leaveDate: body.leaveDate || body.leave_date || \"\",\n  leaveDays: parseInt(body.leaveDays || body.leave_days || 0),\n  backendUrl: body.backendUrl || 'https://approvehub.internalautomation.io.vn/api/approval/hr'\n} };"
      },
      "id": "12f5658e-3ed9-48ba-b8f8-8c41dd4cc16e",
      "name": "Parse HR Decision",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        16528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b87d91a-c237-4c25-b1b7-5c98cce590ea",
      "name": "HTTP: HR Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        24512,
        16528
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = item.json;\nconst data = response.body || response;\nconst input = $('Parse HR Decision').item.json;\n\nreturn { json: {\n  success: response.statusCode === 200,\n  status: data.status || \"\",\n  message: data.message || \"\",\n  leaveId: data.leaveId || \"\",\n  // Lấy từ input request (Frontend gửi)\n  action: input.action || \"\",\n  employeeName: input.employeeName || \"\",\n  employeeEmail: input.employeeEmail || \"\",\n  leaveDate: input.leaveDate || \"\",\n  leaveDays: input.leaveDays || 0\n} };"
      },
      "id": "e9b8e018-f481-4d99-a8a6-58c8adb6a8f9",
      "name": "Parse HR Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24720,
        16528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        24912,
        16528
      ],
      "id": "c0c41947-5e3c-4f29-8960-07885f5ae292",
      "name": "Check: HR Approved?"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép đã được HR phê duyệt",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đơn đã được HR phê duyệt!</h2><p>Kính gửi {{ $json.employeeName }},</p><p>Đơn nghỉ phép ngày {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày) đã được <strong>HR phê duyệt cuối cùng</strong>.</p><p>Bạn có thể nghỉ phép theo kế hoạch.</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "ec2ccae9-b1d7-4145-8955-d3872f9cb215",
      "name": "Email: HR Approved",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25248,
        16464
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép bị từ chối bởi HR",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đơn bị HR từ chối</h2><p>Kính gửi {{ $json.employeeName }},</p><p>Rất tiếc, đơn nghỉ phép ngày {{ $json.leaveDate }} đã bị <strong>HR từ chối</strong>.</p><p>Vui lòng liên hệ HR để biết thêm chi tiết.</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "c5b2da65-7c31-4d54-a3c1-0ece4c69ca59",
      "name": "Email: HR Rejected",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25248,
        16688
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3b0e1195-a007-4158-90af-29ff8367c17e",
      "name": "Respond: HR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        25520,
        16528
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  leaveId: body.leaveId || \"\",\n  token: body.token || \"\",\n  backendUrl: body.backendUrl || 'https://approvehub.internalautomation.io.vn/api/leave/return-early',\n  actualReturnDate: body.actualReturnDate || new Date().toISOString(),\n  refundDays: body.refundDays || 0,\n  employeeName: body.employeeName || \"\",\n  employeeEmail: body.employeeEmail || \"\",\n  leaveDate: body.leaveDate || \"\",\n  leaveDays: body.leaveDays || 0,\n  reason: body.reason || \"\",\n  department: body.department || \"\",\n  managerEmail: body.managerEmail || \"\",\n  hrEmail: body.hrEmail || \"\"\n} };"
      },
      "id": "bfca15c2-8875-45ed-936e-0406d12d0af7",
      "name": "Parse Return Early",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        16928
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leaveId",
              "value": "={{ $json.leaveId }}"
            },
            {
              "name": "actualReturnDate",
              "value": "={{ $json.actualReturnDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1aff6854-9392-4f8d-a9c3-e273d8b2edc0",
      "name": "HTTP: Return Early",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        24512,
        16928
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = item.json;\nreturn { json: {\n  success: response.statusCode === 200,\n  refundDays: response.json?.refundDays || response.body?.refundDays || 0,\n  status: response.json?.status || response.body?.status || \"refunded\",\n  leaveId: response.json?.leaveId || response.body?.leaveId || \"\",\n  employeeName: response.json?.employeeName || response.body?.employeeName || \"\",\n  employeeEmail: response.json?.employeeEmail || response.body?.employeeEmail || \"\",\n  leaveDate: response.json?.leaveDate || response.body?.leaveDate || \"\",\n  leaveDays: response.json?.leaveDays || response.body?.leaveDays || 0,\n  managerEmail: response.json?.managerEmail || response.body?.managerEmail || \"\",\n  hrEmail: response.json?.hrEmail || response.body?.hrEmail || \"\",\n  actualReturnDate: response.json?.actualReturnDate || response.body?.actualReturnDate || new Date().toISOString()\n} };"
      },
      "id": "1f18003f-89fb-4263-8765-5a31048e5ad1",
      "name": "Parse Return Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24720,
        16928
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=[Hệ thống] Hoàn {{ $json.refundDays }} ngày phép cho {{ $json.employeeName }}",
        "includeHtml": true,
        "htmlMessage": "=<h2>Hoàn trả ngày phép</h2><p>Nhân viên <strong>{{ $json.employeeName }}</strong> đã trả về sớm.</p><p>Hoàn trả: <strong>{{ $json.refundDays }} ngày</strong></p><p>Ngày về thực tế: {{ $json.actualReturnDate }}</p><p>Đơn: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p>",
        "message": "=",
        "toList": [
          "={{ $json.managerEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "55e0bbc5-10c3-42dc-9437-acb71034e497",
      "name": "Email: Refund to Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        24912,
        16928
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Xác nhận hoàn trả ngày phép",
        "includeHtml": true,
        "htmlMessage": "=<h2>Đã hoàn trả ngày phép</h2><p>Bạn đã được hoàn trả <strong>{{ $json.refundDays }} ngày phép</strong> cho đơn nghỉ ngày {{ $json.leaveDate }}.</p><p>Số ngày hoàn trả sẽ được cộng vào số ngày phép còn lại.</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "fbdad78a-afee-4f1c-ae08-b0da76324248",
      "name": "Email: Refund to Employee",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25088,
        16928
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Đã hoàn trả ngày phép\",\n  \"refundDays\": {{ $json.refundDays }}\n}",
        "options": {}
      },
      "id": "e0f33df8-c360-4094-9f0d-2aba6ff1dade",
      "name": "Respond: Return OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        25312,
        16928
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  leaveId: body.leaveId || \"\",\n  token: body.token || \"\",\n  backendUrl: body.backendUrl || 'https://approvehub.internalautomation.io.vn/api/leave/cancel'\n} };"
      },
      "id": "e5efb11c-b178-4142-8d61-f4ed544a8ccd",
      "name": "Parse Cancel",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        17328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.backendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leaveId",
              "value": "={{ $json.leaveId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "29ce3cc7-cae5-4cea-a08f-23bdb07623ab",
      "name": "HTTP: Cancel Leave",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        24512,
        17328
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = item.json;\nreturn { json: {\n  success: response.statusCode === 200,\n  status: response.json?.status || response.body?.status || \"cancelled\",\n  message: response.json?.message || response.body?.message || \"\",\n  leaveId: response.json?.leaveId || response.body?.leaveId || \"\",\n  cancelledAt: response.json?.cancelledAt || response.body?.cancelledAt || new Date().toISOString(),\n  employeeName: response.json?.employeeName || response.body?.employeeName || \"\",\n  employeeEmail: response.json?.employeeEmail || response.body?.employeeEmail || \"\",\n  leaveDate: response.json?.leaveDate || response.body?.leaveDate || \"\",\n  leaveDays: response.json?.leaveDays || response.body?.leaveDays || 0,\n  reason: response.json?.reason || response.body?.reason || \"\",\n  department: response.json?.department || response.body?.department || \"\",\n  managerEmail: response.json?.managerEmail || response.body?.managerEmail || \"\",\n  hrEmail: response.json?.hrEmail || response.body?.hrEmail || \"\"\n} };"
      },
      "id": "215ad8f7-8dab-4609-96b3-8d488a91d371",
      "name": "Parse Cancel Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24720,
        17328
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Thông báo hủy đơn nghỉ phép",
        "includeHtml": true,
        "htmlMessage": "=<h2>Hủy đơn nghỉ phép</h2><p>{{ $json.employeeName }} đã hủy đơn ngày {{ $json.leaveDate }}</p><p>Lý do: {{ $json.reason }}</p>",
        "message": "=",
        "toList": [
          "={{ $json.managerEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "2323b2f0-5f79-48be-aa6a-9b81610d1de0",
      "name": "Email: Cancel to Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        24912,
        17328
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Đơn nghỉ phép đã được hủy",
        "includeHtml": true,
        "htmlMessage": "=<h2>Xác nhận hủy đơn</h2><p>Đơn nghỉ phép ngày {{ $json.leaveDate }} đã được hủy.</p>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "8887ba43-038c-40fa-b42b-aa7926893b86",
      "name": "Email: Cancel Confirm",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        25104,
        17328
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76d115a3-79cd-4d92-bae1-3b56b1de0289",
      "name": "Respond: Cancel",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        25296,
        17328
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: { employeeName: body.employeeName || \"\", employeeEmail: body.employeeEmail || \"\", leaveDate: body.leaveDate || \"\", managerEmail: body.managerEmail || \"\", managerApprovalLink: body.managerApprovalLink || \"\" } };"
      },
      "id": "ea43f670-a853-434f-8e0b-bd42358f0389",
      "name": "Parse Reminder",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        17728
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=?Nhắc nhở: Đơn nghỉ phép chưa xử lý=",
        "includeHtml": true,
        "htmlMessage": "=<h2>Nhắc nhở phê duyệt</h2><p>Đơn của {{ $json.employeeName }} ngày {{ $json.leaveDate }} chưa được xử lý.</p><a href=\"{{ $json.managerApprovalLink }}\">Xử lý ngay</a>",
        "message": "=",
        "toList": [
          "={{ $json.managerEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "5bbdbac6-6833-4757-8eb2-01212847f552",
      "name": "Email: Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        24512,
        17728
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7518036b-9b5d-4254-9ded-f1a1d0d962e8",
      "name": "Respond: Reminder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        24720,
        17728
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  leaveId: body.leaveId || \"\",\n  token: body.token || \"\",\n  backendUrl: body.backendUrl || 'https://approvehub.internalautomation.io.vn/api/leave/update',\n  leave_date: body.leave_date || body.leaveDate || \"\",\n  leave_days: parseInt(body.leave_days || body.leaveDays || 0),\n  reason: body.reason || \"\"\n} };"
      },
      "id": "f01289c4-d2cb-40d1-af99-8a2b6d86d273",
      "name": "Parse Update",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24320,
        18128
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.backendUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.token || '' }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leaveId",
              "value": "={{ $json.leaveId }}"
            },
            {
              "name": "leave_date",
              "value": "={{ $json.leave_date }}"
            },
            {
              "name": "leave_days",
              "value": "={{ $json.leave_days }}"
            },
            {
              "name": "reason",
              "value": "={{ $json.reason }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b810da0b-bafc-469a-a994-d83a75a5c7b8",
      "name": "HTTP: Update Leave",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        24512,
        18128
      ]
    },
    {
      "parameters": {
        "functionCode": "const response = item.json;\nreturn { json: {\n  success: response.statusCode === 200,\n  status: response.json?.status || response.body?.status || \"updated\",\n  message: response.json?.message || response.body?.message || \"\",\n  leaveId: response.json?.leaveId || response.body?.leaveId || \"\",\n  managerApprovalToken: response.json?.managerApprovalToken || response.body?.managerApprovalToken || \"\",\n  hrApprovalToken: response.json?.hrApprovalToken || response.body?.hrApprovalToken || \"\",\n  managerApprovalLink: response.json?.managerApprovalLink || response.body?.managerApprovalLink || \"\",\n  hrApprovalLink: response.json?.hrApprovalLink || response.body?.hrApprovalLink || null,\n  employeeName: response.json?.employeeName || response.body?.employeeName || \"\",\n  employeeEmail: response.json?.employeeEmail || response.body?.employeeEmail || \"\",\n  leaveDate: response.json?.leaveDate || response.body?.leaveDate || \"\",\n  leaveDays: response.json?.leaveDays || response.body?.leaveDays || 0\n} };"
      },
      "id": "d11b000a-ac85-44a8-8a61-4d711b8c330b",
      "name": "Parse Update Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        24720,
        18128
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Đơn nghỉ phép đã được cập nhật",
        "includeHtml": true,
        "htmlMessage": "=<h2>Cập nhật đơn nghỉ phép</h2><p>{{ $json.employeeName }} đã cập nhật đơn nghỉ phép.</p><p>Thời gian mới: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p><a href=\"{{ $json.managerApprovalLink }}\">Xem xét lại</a>",
        "message": "=",
        "toList": [
          "={{ $json.managerEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "92cf4728-e654-4875-84da-c0a6e2a106ce",
      "name": "Email: Update Notify",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        24912,
        18128
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "91152dd1-fab3-4006-90f8-254d0e06e3fb",
      "name": "Respond: Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        25120,
        18128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Leave Request": {
      "main": [
        [
          {
            "node": "Parse Leave Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Leave Request": {
      "main": [
        [
          {
            "node": "HTTP: Create Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Leave": {
      "main": [
        [
          {
            "node": "Parse Create Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Create Response": {
      "main": [
        [
          {
            "node": "Email: To Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: To Manager": {
      "main": [
        [
          {
            "node": "Respond: Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Manager Decision": {
      "main": [
        [
          {
            "node": "Parse Manager Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Manager Decision": {
      "main": [
        [
          {
            "node": "HTTP: Manager Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Manager Decision": {
      "main": [
        [
          {
            "node": "Parse Manager Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Manager Response": {
      "main": [
        [
          {
            "node": "Check: Rejected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Rejected?": {
      "main": [
        [
          {
            "node": "Email: Manager Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Needs HR?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Manager Rejected": {
      "main": [
        [
          {
            "node": "Respond: Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Needs HR?": {
      "main": [
        [
          {
            "node": "Email: To HR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: To HR": {
      "main": [
        [
          {
            "node": "Email: Waiting HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Waiting HR": {
      "main": [
        [
          {
            "node": "Respond: Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Approved": {
      "main": [
        [
          {
            "node": "Respond: Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: HR Decision": {
      "main": [
        [
          {
            "node": "Parse HR Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HR Decision": {
      "main": [
        [
          {
            "node": "HTTP: HR Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: HR Decision": {
      "main": [
        [
          {
            "node": "Parse HR Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HR Response": {
      "main": [
        [
          {
            "node": "Check: HR Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: HR Approved?": {
      "main": [
        [
          {
            "node": "Email: HR Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: HR Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: HR Approved": {
      "main": [
        [
          {
            "node": "Respond: HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: HR Rejected": {
      "main": [
        [
          {
            "node": "Respond: HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Return Early": {
      "main": [
        [
          {
            "node": "Parse Return Early",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Return Early": {
      "main": [
        [
          {
            "node": "HTTP: Return Early",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Return Early": {
      "main": [
        [
          {
            "node": "Parse Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Return Response": {
      "main": [
        [
          {
            "node": "Email: Refund to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Refund to Manager": {
      "main": [
        [
          {
            "node": "Email: Refund to Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Refund to Employee": {
      "main": [
        [
          {
            "node": "Respond: Return OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Cancel Leave": {
      "main": [
        [
          {
            "node": "Parse Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cancel": {
      "main": [
        [
          {
            "node": "HTTP: Cancel Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Cancel Leave": {
      "main": [
        [
          {
            "node": "Parse Cancel Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cancel Response": {
      "main": [
        [
          {
            "node": "Email: Cancel to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Cancel to Manager": {
      "main": [
        [
          {
            "node": "Email: Cancel Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Cancel Confirm": {
      "main": [
        [
          {
            "node": "Respond: Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Leave Reminder": {
      "main": [
        [
          {
            "node": "Parse Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reminder": {
      "main": [
        [
          {
            "node": "Email: Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Reminder": {
      "main": [
        [
          {
            "node": "Respond: Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Update Leave": {
      "main": [
        [
          {
            "node": "Parse Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update": {
      "main": [
        [
          {
            "node": "HTTP: Update Leave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Update Leave": {
      "main": [
        [
          {
            "node": "Parse Update Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Update Response": {
      "main": [
        [
          {
            "node": "Email: Update Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Update Notify": {
      "main": [
        [
          {
            "node": "Respond: Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a4c0701f-439d-4aec-9254-240834ceaf0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a831f36a4592b7e2489dd2e8d454ce5bcf3c1e27a52a1c1c56da0af10735e74a"
  },
  "id": "HjSuOqHgXJ7L3Iz5",
  "tags": []
}