n8n/full-leave-workflow.json
{
  "name": "Leave Request - Full Workflow (7 Endpoints)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "leave-request", "options": {} },
      "id": "wh-leave", "name": "Webhook: Leave Request", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 300], "webhookId": "leave-request"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "manager-decision", "options": {} },
      "id": "wh-manager", "name": "Webhook: Manager Decision", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 700], "webhookId": "manager-decision"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "hr-decision", "options": {} },
      "id": "wh-hr", "name": "Webhook: HR Decision", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 1200], "webhookId": "hr-decision"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "return-early", "options": {} },
      "id": "wh-return", "name": "Webhook: Return Early", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 1600], "webhookId": "return-early"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "cancel-leave", "options": {} },
      "id": "wh-cancel", "name": "Webhook: Cancel Leave", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 2000], "webhookId": "cancel-leave"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "leave-reminder", "options": {} },
      "id": "wh-reminder", "name": "Webhook: Leave Reminder", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 2400], "webhookId": "leave-reminder"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "update-leave", "options": {} },
      "id": "wh-update", "name": "Webhook: Update Leave", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [100, 2800], "webhookId": "update-leave"
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  employeeName: body.employeeName || \"Unknown\",\n  employeeEmail: body.employeeEmail || \"\",\n  leaveDate: body.leaveDate || \"\",\n  leaveDays: body.leaveDays || 0,\n  reason: body.reason || \"\",\n  department: body.department || \"\",\n  managerEmail: body.managerEmail || \"\",\n  managerApprovalLink: body.managerApprovalLink || \"\"\n} };" },
      "id": "parse-leave", "name": "Parse Leave Request", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 300]
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/leave/create", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {} },
      "id": "http-create", "name": "HTTP: Create Leave", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [500, 300]
    },
    {
      "parameters": { "resource": "message", "subject": "=Yêu cầu nghỉ phép từ {{ $json.employeeName }}", "includeHtml": true, "htmlMessage": "=<h2>Yêu cầu nghỉ phép mới</h2><p>Nhân viên: <strong>{{ $json.employeeName }}</strong></p><p>Thời gian: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p><p>Lý do: {{ $json.reason }}</p><a href=\"{{ $json.managerApprovalLink }}\">Xem xét</a>", "toList": ["={{ $json.managerEmail }}"] },
      "id": "email-mgr", "name": "Email: To Manager", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [700, 300], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "options": {} },
      "id": "resp-leave", "name": "Respond: Leave", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [900, 300]
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  token: body.token || \"\",\n  action: body.action || \"\",\n  employeeName: body.employeeName || \"Unknown\",\n  employeeEmail: body.employeeEmail || \"\",\n  leaveDate: body.leaveDate || \"\",\n  leaveDays: body.leaveDays || 0,\n  reason: body.reason || \"\",\n  requiresHrApproval: body.requiresHrApproval || false,\n  hrEmail: body.hrEmail || \"\",\n  hrApprovalLink: body.hrApprovalLink || \"\"\n} };" },
      "id": "parse-mgr", "name": "Parse Manager Decision", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 700]
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.action }}", "rightValue": "reject", "operator": { "type": "string", "operation": "equals" } }] } },
      "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [500, 600], "id": "chk-reject", "name": "Check: Reject?"
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "c2", "leftValue": "={{ $json.requiresHrApproval }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] } },
      "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [700, 700], "id": "chk-hr", "name": "Check: Needs HR?"
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/approval/manager", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"token\": \"{{ $json.token }}\",\n  \"action\": \"{{ $json.action }}\"\n}", "options": {} },
      "id": "http-mgr-reject", "name": "HTTP: Manager Reject", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [700, 500]
    },
    {
      "parameters": { "resource": "message", "subject": "Yêu cầu nghỉ phép bị từ chối", "includeHtml": true, "htmlMessage": "=<h2>Đơn nghỉ phép bị từ chối</h2><p>Kính gửi {{ $json.employeeName }}, đơn nghỉ phép của bạn đã bị từ chối.</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-reject", "name": "Email: Manager Rejected", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [900, 500], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/approval/manager", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"token\": \"{{ $json.token }}\",\n  \"action\": \"approve\",\n  \"requiresHrApproval\": true\n}", "options": {} },
      "id": "http-mgr-hr", "name": "HTTP: Update + HR", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [900, 700]
    },
    {
      "parameters": { "resource": "message", "subject": "=Yêu cầu nghỉ phép từ {{ $json.employeeName }}", "includeHtml": true, "htmlMessage": "=<h2>Yêu cầu nghỉ phép cần HR duyệt</h2><p>Nhân viên: <strong>{{ $json.employeeName }}</strong></p><p>Thời gian: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p><a href=\"{{ $json.hrApprovalLink }}\">Phê duyệt</a>", "toList": ["={{ $json.hrEmail }}"] },
      "id": "email-hr", "name": "Email: To HR", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [1100, 700], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "resource": "message", "subject": "Đơn đã được Manager duyệt, chờ HR", "includeHtml": true, "htmlMessage": "=<h2>Đơn đang chờ HR duyệt</h2><p>Kính gửi {{ $json.employeeName }}, đơn nghỉ phép đã được Manager duyệt, đang chờ HR.</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-wait-hr", "name": "Email: Waiting HR", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [1300, 700], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/approval/manager", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"token\": \"{{ $json.token }}\",\n  \"action\": \"approve\",\n  \"requiresHrApproval\": false\n}", "options": {} },
      "id": "http-mgr-ok", "name": "HTTP: Manager Approve", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [900, 900]
    },
    {
      "parameters": { "resource": "message", "subject": "Yêu cầu nghỉ phép đã được phê duyệt", "includeHtml": true, "htmlMessage": "=<h2>Đơn đã được phê duyệt!</h2><p>Kính gửi {{ $json.employeeName }}, đơn nghỉ phép đã được phê duyệt.</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-approve", "name": "Email: Approved", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [1100, 900], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "options": {} },
      "id": "resp-mgr", "name": "Respond: Manager", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1500, 700]
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nreturn { json: {\n  token: body.token || \"\",\n  action: body.action || \"\",\n  employeeName: body.employeeName || \"Unknown\",\n  employeeEmail: body.employeeEmail || \"\",\n  leaveDate: body.leaveDate || \"\",\n  leaveDays: body.leaveDays || 0,\n  reason: body.reason || \"\"\n} };" },
      "id": "parse-hr", "name": "Parse HR Decision", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 1200]
    },
    {
      "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 }, "conditions": [{ "id": "c3", "leftValue": "={{ $json.action }}", "rightValue": "approved", "operator": { "type": "string", "operation": "equals" } }] } },
      "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [500, 1200], "id": "chk-hr-action", "name": "Check: HR Approved?"
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/approval/hr", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"token\": \"{{ $json.token }}\",\n  \"action\": \"approved\"\n}", "options": {} },
      "id": "http-hr-approve", "name": "HTTP: HR Approve", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [700, 1100]
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/approval/hr", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"token\": \"{{ $json.token }}\",\n  \"action\": \"rejected\"\n}", "options": {} },
      "id": "http-hr-reject", "name": "HTTP: HR Reject", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [700, 1300]
    },
    {
      "parameters": { "resource": "message", "subject": "Yêu cầu nghỉ phép đã được HR phê duyệt", "includeHtml": true, "htmlMessage": "=<h2>Đơn đã được HR phê duyệt!</h2><p>Kính gửi {{ $json.employeeName }}, đơn nghỉ phép đã được HR phê duyệt cuối cùng.</p><p>Thời gian: {{ $json.leaveDate }} ({{ $json.leaveDays }} ngày)</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-hr-approve", "name": "Email: HR Approved", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [900, 1100], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "resource": "message", "subject": "Yêu cầu nghỉ phép bị từ chối bởi HR", "includeHtml": true, "htmlMessage": "=<h2>Đơn bị HR từ chối</h2><p>Kính gửi {{ $json.employeeName }}, rất tiếc đơn nghỉ phép đã bị HR từ chối.</p><p>Thời gian: {{ $json.leaveDate }}</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-hr-reject", "name": "Email: HR Rejected", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [900, 1300], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "options": {} },
      "id": "resp-hr", "name": "Respond: HR", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1100, 1200]
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nconst actual = new Date(body.actualReturnDate);\nconst planned = new Date(body.plannedEndDate);\nconst refundDays = Math.ceil((planned.getTime() - actual.getTime()) / (1000 * 3600 * 24));\nreturn { json: { ...body, refundDays } };" },
      "id": "calc-refund", "name": "Calculate Refund", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 1600]
    },
    {
      "parameters": { "conditions": { "number": [{ "value1": "={{ $json.refundDays }}", "operation": "larger", "value2": 0 }] } },
      "id": "chk-refund", "name": "Check: Refund > 0?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [500, 1600]
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/approval/manager", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"leaveId\": \"{{ $json.leaveId }}\",\n  \"refundDays\": {{ $json.refundDays }},\n  \"actualReturnDate\": \"{{ $json.actualReturnDate }}\"\n}", "options": {} },
      "id": "http-refund", "name": "HTTP: Update & Refund", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [700, 1500]
    },
    {
      "parameters": { "resource": "message", "subject": "=[Hệ thống] Hoàn {{ $json.refundDays }} ngày phép", "includeHtml": true, "htmlMessage": "=<h2>Cập nhật đi làm sớm</h2><p>Hoàn trả <strong>{{ $json.refundDays }} ngày phép</strong> cho nhân viên.</p>", "toList": ["={{ $json.hrEmail }}"] },
      "id": "email-refund", "name": "Email: Refund", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [900, 1500], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Đã hoàn trả ngày phép\"\n}" },
      "id": "resp-refund-ok", "name": "Respond: Refund OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1100, 1500]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\n  \"status\": \"skipped\",\n  \"message\": \"Không có ngày để hoàn\"\n}" },
      "id": "resp-refund-no", "name": "Respond: No Refund", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [700, 1700]
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nreturn { json: { token: body.token || \"\", employeeName: body.employeeName || \"\", employeeEmail: body.employeeEmail || \"\", leaveDate: body.leaveDate || \"\", managerEmail: body.managerEmail || \"\", hrEmail: body.hrEmail || \"\" } };" },
      "id": "parse-cancel", "name": "Parse Cancel", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 2000]
    },
    {
      "parameters": { "method": "POST", "url": "https://approvehub.internalautomation.io.vn/api/leave/cancel", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"token\": \"{{ $json.token }}\"\n}", "options": {} },
      "id": "http-cancel", "name": "HTTP: Cancel", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [500, 2000]
    },
    {
      "parameters": { "resource": "message", "subject": "Thông báo hủy đơn nghỉ phép", "includeHtml": true, "htmlMessage": "=<h2>Hủy đơn nghỉ phép</h2><p>{{ $json.employeeName }} đã hủy đơn ngày {{ $json.leaveDate }}</p>", "toList": ["={{ $json.managerEmail }}"] },
      "id": "email-cancel-mgr", "name": "Email: Cancel to Manager", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [700, 1950], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "resource": "message", "subject": "Đơn nghỉ phép đã được hủy", "includeHtml": true, "htmlMessage": "=<h2>Xác nhận hủy đơn</h2><p>Đơn nghỉ phép ngày {{ $json.leaveDate }} đã được hủy.</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-cancel-emp", "name": "Email: Cancel Confirm", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [700, 2050], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "options": {} },
      "id": "resp-cancel", "name": "Respond: Cancel", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [900, 2000]
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nreturn { json: { employeeName: body.employeeName || \"\", employeeEmail: body.employeeEmail || \"\", leaveDate: body.leaveDate || \"\", managerEmail: body.managerEmail || \"\", managerApprovalLink: body.managerApprovalLink || \"\" } };" },
      "id": "parse-reminder", "name": "Parse Reminder", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 2400]
    },
    {
      "parameters": { "resource": "message", "subject": "=?Nhắc nhở: Đơn nghỉ phép chưa xử lý=", "includeHtml": true, "htmlMessage": "=<h2>Nhắc nhở phê duyệt</h2><p>Đơn của {{ $json.employeeName }} ngày {{ $json.leaveDate }} chưa được xử lý.</p><a href=\"{{ $json.managerApprovalLink }}\">Xử lý ngay</a>", "toList": ["={{ $json.managerEmail }}"] },
      "id": "email-reminder", "name": "Email: Reminder", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [500, 2400], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "options": {} },
      "id": "resp-reminder", "name": "Respond: Reminder", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [700, 2400]
    },

    {
      "parameters": { "functionCode": "const body = item.json.body || item.json;\nreturn { json: { ...body } };" },
      "id": "parse-update", "name": "Parse Update", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [300, 2800]
    },
    {
      "parameters": { "method": "PUT", "url": "https://approvehub.internalautomation.io.vn/api/leave/update", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {} },
      "id": "http-update", "name": "HTTP: Update", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [500, 2800]
    },
    {
      "parameters": { "resource": "message", "subject": "Đơn nghỉ phép đã được cập nhật", "includeHtml": true, "htmlMessage": "=<h2>Cập nhật thành công</h2><p>Đơn nghỉ phép đã được cập nhật.</p>", "toList": ["={{ $json.employeeEmail }}"] },
      "id": "email-update", "name": "Email: Update OK", "type": "n8n-nodes-base.gmail", "typeVersion": 1, "position": [700, 2800], "credentials": { "gmailOAuth2": { "id": "gA248K2gJK6X1hxp", "name": "Gmail account" } }
    },
    {
      "parameters": { "options": {} },
      "id": "resp-update", "name": "Respond: Update", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [900, 2800]
    }
  ],

  "connections": {
    "Webhook: Leave Request": { "main": [[{ "node": "Parse Leave Request", "type": "main", "index": 0 }]] },
    "Parse Leave Request": { "main": [[{ "node": "HTTP: Create Leave", "type": "main", "index": 0 }]] },
    "HTTP: Create Leave": { "main": [[{ "node": "Email: To Manager", "type": "main", "index": 0 }]] },
    "Email: To Manager": { "main": [[{ "node": "Respond: Leave", "type": "main", "index": 0 }]] },

    "Webhook: Manager Decision": { "main": [[{ "node": "Parse Manager Decision", "type": "main", "index": 0 }]] },
    "Parse Manager Decision": { "main": [[{ "node": "Check: Reject?", "type": "main", "index": 0 }]] },
    "Check: Reject?": {
      "main": [
        [{ "node": "HTTP: Manager Reject", "type": "main", "index": 0 }],
        [{ "node": "Check: Needs HR?", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Manager Reject": { "main": [[{ "node": "Email: Manager Rejected", "type": "main", "index": 0 }]] },
    "Email: Manager Rejected": { "main": [[{ "node": "Respond: Manager", "type": "main", "index": 0 }]] },
    "Check: Needs HR?": {
      "main": [
        [{ "node": "HTTP: Update + HR", "type": "main", "index": 0 }],
        [{ "node": "HTTP: Manager Approve", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Manager Approve": { "main": [[{ "node": "Email: Approved", "type": "main", "index": 0 }]] },
    "Email: Approved": { "main": [[{ "node": "Respond: Manager", "type": "main", "index": 0 }]] },
    "HTTP: Update + HR": { "main": [[{ "node": "Email: To HR", "type": "main", "index": 0 }]] },
    "Email: To HR": { "main": [[{ "node": "Email: Waiting HR", "type": "main", "index": 0 }]] },
    "Email: Waiting HR": { "main": [[{ "node": "Respond: Manager", "type": "main", "index": 0 }]] },

    "Webhook: HR Decision": { "main": [[{ "node": "Parse HR Decision", "type": "main", "index": 0 }]] },
    "Parse HR Decision": { "main": [[{ "node": "Check: HR Approved?", "type": "main", "index": 0 }]] },
    "Check: HR Approved?": {
      "main": [
        [{ "node": "HTTP: HR Approve", "type": "main", "index": 0 }],
        [{ "node": "HTTP: HR Reject", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: HR Approve": { "main": [[{ "node": "Email: HR Approved", "type": "main", "index": 0 }]] },
    "HTTP: HR Reject": { "main": [[{ "node": "Email: HR Rejected", "type": "main", "index": 0 }]] },
    "Email: HR Approved": { "main": [[{ "node": "Respond: HR", "type": "main", "index": 0 }]] },
    "Email: HR Rejected": { "main": [[{ "node": "Respond: HR", "type": "main", "index": 0 }]] },

    "Webhook: Return Early": { "main": [[{ "node": "Calculate Refund", "type": "main", "index": 0 }]] },
    "Calculate Refund": { "main": [[{ "node": "Check: Refund > 0?", "type": "main", "index": 0 }]] },
    "Check: Refund > 0?": {
      "main": [
        [{ "node": "HTTP: Update & Refund", "type": "main", "index": 0 }],
        [{ "node": "Respond: No Refund", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Update & Refund": { "main": [[{ "node": "Email: Refund", "type": "main", "index": 0 }]] },
    "Email: Refund": { "main": [[{ "node": "Respond: Refund OK", "type": "main", "index": 0 }]] },

    "Webhook: Cancel Leave": { "main": [[{ "node": "Parse Cancel", "type": "main", "index": 0 }]] },
    "Parse Cancel": { "main": [[{ "node": "HTTP: Cancel", "type": "main", "index": 0 }]] },
    "HTTP: Cancel": {
      "main": [
        [{ "node": "Email: Cancel to Manager", "type": "main", "index": 0 }],
        [{ "node": "Email: Cancel Confirm", "type": "main", "index": 0 }]
      ]
    },
    "Email: Cancel to Manager": { "main": [[{ "node": "Respond: Cancel", "type": "main", "index": 0 }]] },
    "Email: Cancel Confirm": { "main": [[{ "node": "Respond: Cancel", "type": "main", "index": 0 }]] },

    "Webhook: Leave Reminder": { "main": [[{ "node": "Parse Reminder", "type": "main", "index": 0 }]] },
    "Parse Reminder": { "main": [[{ "node": "Email: Reminder", "type": "main", "index": 0 }]] },
    "Email: Reminder": { "main": [[{ "node": "Respond: Reminder", "type": "main", "index": 0 }]] },

    "Webhook: Update Leave": { "main": [[{ "node": "Parse Update", "type": "main", "index": 0 }]] },
    "Parse Update": { "main": [[{ "node": "HTTP: Update", "type": "main", "index": 0 }]] },
    "HTTP: Update": { "main": [[{ "node": "Email: Update OK", "type": "main", "index": 0 }]] },
    "Email: Update OK": { "main": [[{ "node": "Respond: Update", "type": "main", "index": 0 }]] }
  },

  "active": true,
  "settings": {},
  "id": "full-leave-workflow",
  "tags": []
}