n8n/leave-approval-workflow.json
{
  "name": "Leave Request Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leave-request",
        "options": {}
      },
      "id": "b88c4b70-e4bd-4af1-aa66-5abd3049c91b",
      "name": "Leave Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        6192,
        5872
      ],
      "webhookId": "d1b393fb-d519-427d-b0d7-656e00df7759"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.department }}",
        "rules": {
          "rules": [
            {
              "value2": "=IT",
              "output": 0
            },
            {
              "value2": "=Marketing",
              "output": 1
            },
            {
              "value2": "=Finance",
              "output": 2
            },
            {
              "value2": "=Sales",
              "output": 3
            },
            {
              "value2": "=.*",
              "output": 4
            }
          ]
        }
      },
      "id": "06e12056-c715-4ec2-bfaf-66d0ee99c614",
      "name": "Switch Department",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        6496,
        5840
      ]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const dept = item.json.department;\n  const managerEmails = item.json.managerEmails || {};\n  const hrEmail = item.json.hrEmail || \"phupc.23ite@vku.udn.vn\";\n\n  // Map department → manager email\n  const emailMap = {\n    IT: managerEmails.IT,\n    Marketing: managerEmails.Marketing,\n    Finance: managerEmails.Finance,\n    Sales: managerEmails.Sales\n  };\n\n  // Nếu department có trong 4 phòng ban → dùng manager email của phòng đó\n  // Nếu không (HR, Operations, etc.) → dùng hrEmail\n  item.json.manager_email = emailMap[dept] || hrEmail;\n\n  return item;\n});"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Set Manager Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6992,
        5888
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #2563eb; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 20px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Phê Duyệt Nghỉ Phép</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi Quản lý,</p>\n        <p>Hệ thống ghi nhận một yêu cầu nghỉ phép mới cần được xem xét. Dưới đây là thông tin chi tiết từ nhân viên:</p>\n\n        <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Nhân viên:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\"><strong>{{ $json.employeeName }}</strong></td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Phòng ban:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.department }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-bottom: 30px;\">Vui lòng nhấp vào nút bên dưới để tiến hành phê duyệt hoặc từ chối yêu cầu này trên hệ thống quản trị.</p>\n\n        <div style=\"text-align: center;\">\n            <a href=\"{{ $json.managerApprovalLink }}\" \n               style=\"background-color: #2563eb; color: #ffffff; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold; display: inline-block; box-shadow: 0 4px 6px -1px rgba(37, 99, 235, 0.2);\">\n               Xem xét & Phản hồi\n            </a>\n        </div>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "subject": "=Yêu cầu nghỉ phép từ {{ $json.employeeName }}",
        "includeHtml": "={{ true }}",
        "message": "=",
        "toList": [
          "={{ $json.manager_email }}"
        ],
        "additionalFields": {}
      },
      "id": "bdde0ad4-2334-43c4-b4c8-50f8f971e0fe",
      "name": "Send Email To Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7392,
        5840
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f24b6748-265d-4e47-8883-860460a4befc",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7664,
        5840
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manager-decision",
        "options": {
          "rawBody": false
        }
      },
      "id": "cd628348-55f9-4750-82d2-ff8241fe562a",
      "name": "Manager Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        6096,
        6528
      ],
      "webhookId": "manager-decision"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Frontend gửi dữ liệu dạng: { body: { hrApprovalLink, employeeEmail, ... } }\n  // Hoặc dạng flat:   { hrApprovalLink, employeeEmail, ... }\n  // Hoặc dạng query:  { query: { hrApprovalLink, ... } }\n\n  let bodyData = item.json.body || {};\n  let queryData = item.json.query || {};\n  let rootData  = item.json;\n\n  // Loại bỏ body/query khỏi root để spread không bị trùng\n  let cleanRoot = { ...rootData };\n  delete cleanRoot.body;\n  delete cleanRoot.query;\n  delete cleanRoot.headers;\n  delete cleanRoot.params;\n\n  // Merge: root < query < body  (body có priority cao nhất)\n  let merged = {\n    ...cleanRoot,\n    ...queryData,\n    ...bodyData\n  };\n\n  return {\n    json: {\n      token:         merged.token          || \"\",\n      action:        merged.action         || \"\",\n      employeeName:  merged.employeeName  || \"Unknown\",\n      hrApprovalLink:merged.hrApprovalLink || \"\",\n      employeeEmail: merged.employeeEmail || \"\",\n      leaveDate:     merged.leaveDate     || \"\",\n      leaveDays:     merged.leaveDays     || 0,\n      reason:        merged.reason        || \"\",\n      raw_data:      merged\n    }\n  };\n});"
      },
      "id": "23a88a88-7c9d-4d56-8e32-350abf28b314",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6336,
        6528
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "=approve"
            },
            {
              "value2": "=reject",
              "output": 1
            },
            {
              "value2": "=waiting_hr",
              "output": 2
            }
          ]
        }
      },
      "id": "74e68b42-f4fa-405e-bc23-15584b40b3ed",
      "name": "Route Manager Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        6528,
        6496
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép đã được phê duyệt .",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #10b981; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Yêu Cầu Nghỉ Phép Đã Được Phê Duyệt</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Đơn xin nghỉ phép của bạn đã chính thức được <strong>Phê duyệt thành công</strong>.</p>\n\n        <div style=\"background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 12px 15px; color: #15803d; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            Chúc bạn có một kỳ nghỉ vui vẻ và ý nghĩa!\n        </div>\n\n        <p style=\"font-weight: bold; color: #374151;\">Chi tiết lịch nghỉ của bạn:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-top: 20px; margin-bottom: 0;\">Nếu có bất kỳ thay đổi nào về lịch trình, vui lòng liên hệ trực tiếp với Quản lý bộ phận hoặc Phòng Nhân sự để được hỗ trợ kịp thời.</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "f093a2a8-8afb-4839-97e3-41dd4f7ab712",
      "name": "Notify Employee",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7248,
        6304
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép bị từ chối",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #dc2626; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Trạng Thái Nghỉ Phép</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Yêu cầu nghỉ phép của bạn đã được xem xét, tuy nhiên rất tiếc là đơn xin nghỉ này <strong>không được phê duyệt</strong> vào thời điểm hiện tại.</p>\n\n        <p style=\"font-weight: bold; color: #374151; margin-top: 20px;\">Chi tiết yêu cầu đã gửi:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do nghỉ:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <div style=\"background-color: #fef2f2; border-left: 4px solid #dc2626; padding: 12px 15px; color: #991b1b; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            Bạn vui lòng liên hệ trực tiếp với Quản lý bộ phận hoặc Phòng Nhân sự để nắm rõ hơn lý do cụ thể và sắp xếp lại lịch trình công việc.\n        </div>\n\n        <p style=\"margin-bottom: 0;\">Xin cảm ơn sự thông cảm và hợp tác của bạn!</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "f13c0d63-539e-48ab-9999-b9f5016e71af",
      "name": "Notify Employee (Rejected)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7104,
        6528
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép đã gửi lên HR",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #0f766e; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Trạng Thái Nghỉ Phép</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Yêu cầu nghỉ phép của bạn đã được <strong>Quản lý trực tiếp phê duyệt</strong>.</p>\n        <p style=\"background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 12px 15px; color: #047857; font-weight: 500; border-radius: 4px;\">\n            📌 Vì thời gian nghỉ của bạn vượt quá 3 ngày, đơn xin nghỉ phép hiện đang được chuyển tiếp đến <strong>Phòng Nhân sự (HR)</strong> để hoàn tất thủ tục duyệt cuối cùng.\n        </p>\n\n        <p style=\"font-weight: bold; margin-top: 20px; color: #374151;\">Chi tiết đơn nghỉ phép:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do nghỉ:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-bottom: 0;\">Kết quả duyệt chính thức từ Phòng Nhân sự sẽ được tự động gửi đến email của bạn ngay khi có phản hồi. Cảm ơn bạn!</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "0884b1f3-fb7b-42fb-b480-259be5ba68fb",
      "name": "Notify Employee (Waiting HR)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7312,
        6752
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép từ {{ $json.employeeName }}",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #059669; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Yêu Cầu Phê Duyệt Nghỉ Phép (HR)</h2>\n    </div>\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>Phòng Nhân sự</strong>,</p>\n        <p>Hệ thống ghi nhận một yêu cầu nghỉ phép đã được <strong>Quản lý bộ phận phê duyệt</strong>. Do thời gian nghỉ vượt quá 3 ngày, đơn này đã được chuyển tiếp đến phòng HR để đưa ra quyết định cuối cùng.</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Nhân viên:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\"><strong>{{ $json.employeeName }}</strong></td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Email:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.employeeEmail }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n        <p style=\"font-size: 11px; color: #9ca3af; text-align: center; margin-top: 10px;\">\n    Nếu nút không hoạt động, copy link sau: {{ $json.hrApprovalLink }}\n</p>\n        <div style=\"text-align: center; margin-top: 25px;\">\n    <a href=\"{{ $json.hrApprovalLink }}\" target=\"_blank\" style=\"background-color: #059669; color: #ffffff; padding: 15px 35px; text-decoration: none; border-radius: 8px; font-weight: bold; display: inline-block;\">Xem xét & Phê duyệt</a>\n</div>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.hrEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "d1478b05-e86c-45ec-8131-ce47b1e4184e",
      "name": "Send Email To Hr",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7088,
        6752
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a93db8bf-0bea-45a2-ae32-b851a96ba6be",
      "name": "Respond Webhook MGR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7504,
        6496
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-decision",
        "options": {}
      },
      "id": "2099b53f-b419-452d-bb55-3893d8027f6c",
      "name": "HR Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        6128,
        7072
      ],
      "webhookId": "hr-decision"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Backend HR gọi webhook với payload: { action, employeeEmail, employeeName, leaveDate, leaveDays, reason }\n  let bodyData = item.json.body || {};\n  let rootData  = item.json;\n  \n  // Loại bỏ body khỏi root để merge không bị trùng\n  let cleanRoot = { ...rootData };\n  delete cleanRoot.body;\n  delete cleanRoot.headers;\n  delete cleanRoot.query;\n  delete cleanRoot.params;\n\n  // Merge: root < body  (body có priority cao hơn)\n  let merged = { ...cleanRoot, ...bodyData };\n\n  return {\n    json: {\n      action:        merged.action        || \"\",\n      employeeEmail: merged.employeeEmail || \"\",\n      employeeName:  merged.employeeName  || \"Unknown\",\n      leaveDate:     merged.leaveDate     || \"\",\n      leaveDays:     merged.leaveDays     || 0,\n      reason:        merged.reason        || \"\",\n      token:         merged.token          || \"\",\n    }\n  };\n});"
      },
      "id": "48bae883-727c-4da0-9b8c-bad8845a3981",
      "name": "Parse Decision2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        6384,
        7072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chk-approve-hr",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6784,
        7072
      ],
      "id": "1b4d01b5-28eb-4112-ab27-6679ddc7b4a5",
      "name": "Check Action HR"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép đã được HR phê duyệt cuối cùng",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #047857; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Yêu Cầu Nghỉ Phép Đã Được HR Phê Duyệt</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Đơn xin nghỉ phép của bạn đã được <strong>Phòng Nhân sự (HR) phê duyệt cuối cùng</strong>.</p>\n        \n        <div style=\"background-color: #f0fdf4; border-left: 4px solid #047857; padding: 12px 15px; color: #065f46; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            🎉 Quy trình phê duyệt đã hoàn tất. Chúc bạn có một kỳ nghỉ vui vẻ và ý nghĩa!\n        </div>\n\n        <p style=\"font-weight: bold; color: #374151;\">Chi tiết lịch nghỉ đã được ghi nhận:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-top: 20px; margin-bottom: 0;\"><strong>Lưu ý:</strong> Dữ liệu nghỉ phép của bạn đã được cập nhật vào hệ thống chấm công của công ty. Nếu có bất kỳ sự cố đột xuất nào cần hủy hoặc dời lịch nghỉ, vui lòng liên hệ trực tiếp với Phòng Nhân sự sớm nhất có thể.</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "a6f60111-47b3-4856-8e8c-b9d19dd73445",
      "name": "Notify Employee1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7152,
        6992
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép bị từ chối bởi HR",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #dc2626; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Trạng Thái Nghỉ Phép (HR)</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Yêu cầu nghỉ phép của bạn đã được Phòng Nhân sự xem xét. Tuy nhiên, rất tiếc là chúng tôi **không thể phê duyệt** đơn xin nghỉ này vào thời điểm hiện tại.</p>\n        \n        <p style=\"font-weight: bold; color: #374151; margin-top: 20px;\">Chi tiết yêu cầu đã gửi:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do nghỉ:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <div style=\"background-color: #fef2f2; border-left: 4px solid #dc2626; padding: 12px 15px; color: #991b1b; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            ℹ️ Vui lòng liên hệ trực tiếp với Phòng Nhân sự (HR) để được giải thích rõ hơn về lý do cụ thể hoặc để được hỗ trợ sắp xếp lại lịch nghỉ phù hợp hơn.\n        </div>\n\n        <p style=\"margin-bottom: 0;\">Xin cảm ơn sự thông cảm và hợp tác của bạn!</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "4d674bb0-fe7e-4ea5-ace3-3f81828f9265",
      "name": "Notify Employee1 (Rejected)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        7152,
        7168
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1bde3acc-7b51-4cfd-a6a5-2f3efd3a6d79",
      "name": "Respond Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7392,
        7056
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/return-early-pro",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bed2412a-2e75-4359-ac0c-4d62d71e4666",
      "name": "Return Early Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        7872,
        6208
      ],
      "webhookId": "8d8bfe8f-81bb-4abb-a187-444dc6f87d1f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Ngày đi làm thực tế không hợp lệ hoặc không có ngày phép nào để hoàn trả.\"\n}",
        "options": {}
      },
      "id": "63008fc6-4e9b-490a-9cf4-74893bdbad4a",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        8496,
        6400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Đã cập nhật ngày phép và gửi email thông báo cho Quản lý.\",\n  \"refundedDays\": {{ $('Calculate The Number of Days').item.json.refundDays }}\n}",
        "options": {}
      },
      "id": "f6af88cf-1440-4b80-a898-7e7324f285d9",
      "name": "Pass",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        9152,
        6048
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Calculate The Number of Days').item.json.hrEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "8f07d105-2b83-42e0-8e3b-64e36e238b1d",
      "name": "Send Email to Hr",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        8944,
        6048
      ],
      "webhookId": "49437a24-8637-4781-a30c-23004b42e239",
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://approvehub.internalautomation.io.vn/api/approval/manager",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "leaveId",
              "value": "={{ $json.leaveId }}"
            },
            {
              "name": "refundDays",
              "value": "={{ $json.refundDays }}"
            },
            {
              "name": "actualReturnDate",
              "value": "={{ $json.actualReturnDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b4a1315-45a2-4cc0-acc2-6ca6ed7158d9",
      "name": "Backend Update DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        8544,
        6048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.refundDays }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "34d2b271-bf76-435a-ad1e-bf25b4a9c7fd",
      "name": "Check Day>0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8304,
        6208
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "emailSubject",
              "value": "=[Hệ thống] Cập nhật đi làm sớm - Hoàn {{ $('Calculate The Number of Days').item.json.refundDays }} ngày phép"
            },
            {
              "name": "emailBody",
              "value": "=Kính gửi Quản lý,\n\nNhân viên {{ $('Calculate The Number of Days').item.json.employeeEmail }} đã đi làm lại sớm hơn dự kiến vào ngày {{ $('Calculate The Number of Days').item.json.actualReturnDate }}.\n\nHệ thống đã tự động hoàn trả {{ $('Calculate The Number of Days').item.json.refundDays }} ngày phép vào quỹ nghỉ của nhân viên này.\n\nTrân trọng,\nHệ thống ApproveHub."
            }
          ]
        },
        "options": {}
      },
      "id": "636ed21a-30f7-4308-b12d-09f88fd28b97",
      "name": "Prepare Emails",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        8752,
        6048
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json.body || $input.all()[0].json;\n\nconst actual = new Date(body.actualReturnDate);\nconst planned = new Date(body.plannedEndDate);\n\n// Tính khoảng thời gian chênh lệch\nconst diffTime = planned.getTime() - actual.getTime();\nlet refundDays = Math.ceil(diffTime / (1000 * 3600 * 24));\n\nreturn {\n  json: {\n    ...body,\n    refundDays: refundDays\n  }\n};"
      },
      "id": "a401adf3-0db0-48fd-989c-47351a058c41",
      "name": "Calculate The Number of Days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8096,
        6208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://approvehub.internalautomation.io.vn/api/approval/manager",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6912,
        6304
      ],
      "id": "6c9d0294-7dc3-45a3-aad0-b6eb4c7e13d5",
      "name": "Api Leave Update-status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://approvehub.internalautomation.io.vn/api/approval/manager",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6864,
        6528
      ],
      "id": "686ea03b-2ad7-4b3f-baba-87e36fcc4824",
      "name": "Api Leave Update-status1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://approvehub.internalautomation.io.vn/api/approval/manager",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6864,
        6752
      ],
      "id": "a6c32923-e59e-464b-ae8c-830d7a15afd6",
      "name": "Api Leave Update-status2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://approvehub.internalautomation.io.vn/api/approval/hr",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.token }}"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        6576,
        7072
      ],
      "id": "abce2a0a-a6c3-447f-81a9-0e1d33f3af58",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Leave Request Webhook": {
      "main": [
        [
          {
            "node": "Switch Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Department": {
      "main": [
        [
          {
            "node": "Set Manager Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Manager Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Manager Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Manager Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Manager Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Manager Email": {
      "main": [
        [
          {
            "node": "Send Email To Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email To Manager": {
      "main": [
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision": {
      "main": [
        [
          {
            "node": "Route Manager Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Manager Action": {
      "main": [
        [
          {
            "node": "Api Leave Update-status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Api Leave Update-status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Api Leave Update-status2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notify Employee": {
      "main": [
        [
          {
            "node": "Respond Webhook MGR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee (Rejected)": {
      "main": [
        [
          {
            "node": "Respond Webhook MGR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email To Hr": {
      "main": [
        [
          {
            "node": "Notify Employee (Waiting HR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action HR": {
      "main": [
        [
          {
            "node": "Notify Employee1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Employee1 (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee1": {
      "main": [
        [
          {
            "node": "Respond Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee1 (Rejected)": {
      "main": [
        [
          {
            "node": "Respond Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee (Waiting HR)": {
      "main": [
        [
          {
            "node": "Respond Webhook MGR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Early Webhook": {
      "main": [
        [
          {
            "node": "Calculate The Number of Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Hr": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Update DB": {
      "main": [
        [
          {
            "node": "Prepare Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Day>0": {
      "main": [
        [
          {
            "node": "Backend Update DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Emails": {
      "main": [
        [
          {
            "node": "Send Email to Hr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate The Number of Days": {
      "main": [
        [
          {
            "node": "Check Day>0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Api Leave Update-status": {
      "main": [
        [
          {
            "node": "Notify Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Api Leave Update-status1": {
      "main": [
        [
          {
            "node": "Notify Employee (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Api Leave Update-status2": {
      "main": [
        [
          {
            "node": "Send Email To Hr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Check Action HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2df3b7fc-56a6-4af6-9a38-1bcfb0a47fe4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a831f36a4592b7e2489dd2e8d454ce5bcf3c1e27a52a1c1c56da0af10735e74a"
  },
  "id": "HjSuOqHgXJ7L3Iz5",
  "tags": []
}