n8n/leave-approval-workflow.json
{
  "name": "Leave Request Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leave-request",
        "options": {}
      },
      "id": "9d9c8bd4-dc9d-43c2-b13e-e4e80f3a85f0",
      "name": "Leave Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        832,
        2032
      ],
      "webhookId": "d1b393fb-d519-427d-b0d7-656e00df7759"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.department }}",
        "rules": {
          "rules": [
            {
              "value2": "=IT"
            },
            {
              "value2": "=Marketing",
              "output": 1
            },
            {
              "value2": "=Finance",
              "output": 2
            },
            {
              "value2": "=Sales",
              "output": 3
            }
          ]
        }
      },
      "id": "8d5d45d2-29e4-4930-8103-75f147703134",
      "name": "Switch Department",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1136,
        2000
      ]
    },
    {
      "parameters": {
        "functionCode": "// Lấy manager email từ payload backend truyền sang\n// payload có dạng: { managerEmail: \"manager@company.com\", department: \"IT\", ... }\nreturn items.map(item => {\n  item.json.manager_email = item.json.managerEmail || \"phupc.23ite@vku.udn.vn\";\n  return item;\n});"
      },
      "id": "b1b3747e-d70d-4ab7-9dc4-3a6f3f865cdf",
      "name": "Marketing Manager",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1632,
        1936
      ]
    },
    {
      "parameters": {
        "functionCode": "// Lấy manager email từ payload backend truyền sang\n// payload có dạng: { managerEmail: \"manager@company.com\", department: \"IT\", ... }\nreturn items.map(item => {\n  item.json.manager_email = item.json.managerEmail || \"phupc.23ite@vku.udn.vn\";\n  return item;\n});"
      },
      "id": "f73b73de-7c70-4fcb-a615-be5b50caafd3",
      "name": "IT Manager",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1632,
        1760
      ]
    },
    {
      "parameters": {
        "functionCode": "// Lấy manager email từ payload backend truyền sang\n// payload có dạng: { managerEmail: \"manager@company.com\", department: \"IT\", ... }\nreturn items.map(item => {\n  item.json.manager_email = item.json.managerEmail || \"phupc.23ite@vku.udn.vn\";\n  return item;\n});"
      },
      "id": "3b32b80d-1584-42e7-8c95-a9f5fc89c77b",
      "name": "Finance Manager",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1632,
        2096
      ]
    },
    {
      "parameters": {
        "functionCode": "// Lấy manager email từ payload backend truyền sang\n// payload có dạng: { managerEmail: \"manager@company.com\", department: \"IT\", ... }\nreturn items.map(item => {\n  item.json.manager_email = item.json.managerEmail || \"phupc.23ite@vku.udn.vn\";\n  return item;\n});"
      },
      "id": "e0b98479-d89f-4b16-a78f-8a14dfe3d157",
      "name": "Sales Manager",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1632,
        2288
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #2563eb; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 20px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Phê Duyệt Nghỉ Phép</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi Quản lý,</p>\n        <p>Hệ thống ghi nhận một yêu cầu nghỉ phép mới cần được xem xét. Dưới đây là thông tin chi tiết từ nhân viên:</p>\n\n        <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Nhân viên:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\"><strong>{{ $json.employeeName }}</strong></td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Phòng ban:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.department }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-bottom: 30px;\">Vui lòng nhấp vào nút bên dưới để tiến hành phê duyệt hoặc từ chối yêu cầu này trên hệ thống quản trị.</p>\n\n        <div style=\"text-align: center;\">\n            <a href=\"{{ $json.managerApprovalLink }}\" \n               style=\"background-color: #2563eb; color: #ffffff; padding: 14px 32px; text-decoration: none; border-radius: 8px; font-weight: bold; display: inline-block; box-shadow: 0 4px 6px -1px rgba(37, 99, 235, 0.2);\">\n               Xem xét & Phản hồi\n            </a>\n        </div>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "subject": "=Yêu cầu nghỉ phép từ {{ $json.body.employeeName }}",
        "includeHtml": "={{ true }}",
        "message": "=",
        "toList": [
          "={{ $json.managerEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "5a34ec0b-d77f-4c5a-adee-dd5ae8e05ea6",
      "name": "Send Email To Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2032,
        2000
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "659c9ce4-0300-4e0b-99cc-1bda424fe1a2",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2304,
        2000
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manager-decision",
        "options": {
          "rawBody": false
        }
      },
      "id": "09df366f-0fcc-4d7b-89eb-23df1d9fec98",
      "name": "Manager Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        736,
        2688
      ],
      "webhookId": "manager-decision"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Frontend gửi dữ liệu dạng: { body: { hrApprovalLink, employeeEmail, ... } }\n  // Hoặc dạng flat:   { hrApprovalLink, employeeEmail, ... }\n  // Hoặc dạng query:  { query: { hrApprovalLink, ... } }\n\n  let bodyData = item.json.body || {};\n  let queryData = item.json.query || {};\n  let rootData  = item.json;\n\n  // Loại bỏ body/query khỏi root để spread không bị trùng\n  let cleanRoot = { ...rootData };\n  delete cleanRoot.body;\n  delete cleanRoot.query;\n  delete cleanRoot.headers;\n  delete cleanRoot.params;\n\n  // Merge: root < query < body  (body có priority cao nhất)\n  let merged = {\n    ...cleanRoot,\n    ...queryData,\n    ...bodyData\n  };\n\n  return {\n    json: {\n      token:         merged.token          || \"\",\n      action:        merged.action         || \"\",\n      employeeName:  merged.employeeName  || \"Unknown\",\n      hrApprovalLink:merged.hrApprovalLink || \"\",\n      employeeEmail: merged.employeeEmail || \"\",\n      leaveDate:     merged.leaveDate     || \"\",\n      leaveDays:     merged.leaveDays     || 0,\n      reason:        merged.reason        || \"\",\n      raw_data:      merged\n    }\n  };\n});"
      },
      "id": "16ee9871-3a91-4c8d-b25c-2de1b966adce",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        2720
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "=approve"
            },
            {
              "value2": "=reject",
              "output": 1
            },
            {
              "value2": "=waiting_hr",
              "output": 2
            }
          ]
        }
      },
      "id": "49743a65-8f22-4656-8cd0-d46416ba4db6",
      "name": "Route Manager Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1328,
        2672
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép đã được phê duyệt .",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #10b981; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Yêu Cầu Nghỉ Phép Đã Được Phê Duyệt</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Đơn xin nghỉ phép của bạn đã chính thức được <strong>Phê duyệt thành công</strong>.</p>\n\n        <div style=\"background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 12px 15px; color: #15803d; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            Chúc bạn có một kỳ nghỉ vui vẻ và ý nghĩa!\n        </div>\n\n        <p style=\"font-weight: bold; color: #374151;\">Chi tiết lịch nghỉ của bạn:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-top: 20px; margin-bottom: 0;\">Nếu có bất kỳ thay đổi nào về lịch trình, vui lòng liên hệ trực tiếp với Quản lý bộ phận hoặc Phòng Nhân sự để được hỗ trợ kịp thời.</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "6c4ad9dd-7907-46d4-85ff-a95eac86b53c",
      "name": "Notify Employee",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2016,
        2240
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Yêu cầu nghỉ phép bị từ chối",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #dc2626; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Trạng Thái Nghỉ Phép</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Yêu cầu nghỉ phép của bạn đã được xem xét, tuy nhiên rất tiếc là đơn xin nghỉ này <strong>không được phê duyệt</strong> vào thời điểm hiện tại.</p>\n\n        <p style=\"font-weight: bold; color: #374151; margin-top: 20px;\">Chi tiết yêu cầu đã gửi:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do nghỉ:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <div style=\"background-color: #fef2f2; border-left: 4px solid #dc2626; padding: 12px 15px; color: #991b1b; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            Bạn vui lòng liên hệ trực tiếp với Quản lý bộ phận hoặc Phòng Nhân sự để nắm rõ hơn lý do cụ thể và sắp xếp lại lịch trình công việc.\n        </div>\n\n        <p style=\"margin-bottom: 0;\">Xin cảm ơn sự thông cảm và hợp tác của bạn!</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "00095c69-25da-404c-8896-eca15f2c27dc",
      "name": "Notify Employee (Rejected)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2000,
        2448
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép đã gửi lên HR",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #0f766e; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Trạng Thái Nghỉ Phép</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Yêu cầu nghỉ phép của bạn đã được <strong>Quản lý trực tiếp phê duyệt</strong>.</p>\n        <p style=\"background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 12px 15px; color: #047857; font-weight: 500; border-radius: 4px;\">\n            📌 Vì thời gian nghỉ của bạn vượt quá 3 ngày, đơn xin nghỉ phép hiện đang được chuyển tiếp đến <strong>Phòng Nhân sự (HR)</strong> để hoàn tất thủ tục duyệt cuối cùng.\n        </p>\n\n        <p style=\"font-weight: bold; margin-top: 20px; color: #374151;\">Chi tiết đơn nghỉ phép:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do nghỉ:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-bottom: 0;\">Kết quả duyệt chính thức từ Phòng Nhân sự sẽ được tự động gửi đến email của bạn ngay khi có phản hồi. Cảm ơn bạn!</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "12089658-a23c-4228-b773-2a56dc5f4319",
      "name": "Notify Employee (Waiting HR)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2016,
        2736
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép từ {{ $json.employeeName }}",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #059669; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Yêu Cầu Phê Duyệt Nghỉ Phép (HR)</h2>\n    </div>\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>Phòng Nhân sự</strong>,</p>\n        <p>Hệ thống ghi nhận một yêu cầu nghỉ phép đã được <strong>Quản lý bộ phận phê duyệt</strong>. Do thời gian nghỉ vượt quá 3 ngày, đơn này đã được chuyển tiếp đến phòng HR để đưa ra quyết định cuối cùng.</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Nhân viên:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\"><strong>{{ $json.employeeName }}</strong></td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Email:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.employeeEmail }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n        <p style=\"font-size: 11px; color: #9ca3af; text-align: center; margin-top: 10px;\">\n    Nếu nút không hoạt động, copy link sau: {{ $json.hrApprovalLink }}\n</p>\n        <div style=\"text-align: center; margin-top: 25px;\">\n    <a href=\"{{ $json.hrApprovalLink }}\" target=\"_blank\" style=\"background-color: #059669; color: #ffffff; padding: 15px 35px; text-decoration: none; border-radius: 8px; font-weight: bold; display: inline-block;\">Xem xét & Phê duyệt</a>\n</div>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "phupc.23ite@vku.udn.vn"
        ],
        "additionalFields": {}
      },
      "id": "c09be546-fbf9-4f3b-bce0-a772086dccb4",
      "name": "Send Email To Hr",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2368,
        2720
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9642c43f-2416-4073-b553-f4f6514d23e2",
      "name": "Respond Webhook MGR",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2656,
        2448
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-decision",
        "options": {}
      },
      "id": "b4008527-ca1d-454a-89d6-d97bfa8f5207",
      "name": "HR Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        768,
        3104
      ],
      "webhookId": "hr-decision"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  // Backend HR gọi webhook với payload: { action, employeeEmail, employeeName, leaveDate, leaveDays, reason }\n  let bodyData = item.json.body || {};\n  let rootData  = item.json;\n  \n  // Loại bỏ body khỏi root để merge không bị trùng\n  let cleanRoot = { ...rootData };\n  delete cleanRoot.body;\n  delete cleanRoot.headers;\n  delete cleanRoot.query;\n  delete cleanRoot.params;\n\n  // Merge: root < body  (body có priority cao hơn)\n  let merged = { ...cleanRoot, ...bodyData };\n\n  return {\n    json: {\n      action:        merged.action        || \"\",\n      employeeEmail: merged.employeeEmail || \"\",\n      employeeName:  merged.employeeName  || \"Unknown\",\n      leaveDate:     merged.leaveDate     || \"\",\n      leaveDays:     merged.leaveDays     || 0,\n      reason:        merged.reason        || \"\",\n      token:         merged.token          || \"\",\n    }\n  };\n});"
      },
      "id": "e673d358-b24c-4750-837f-7ca6d1a6dee6",
      "name": "Parse Decision2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        3104
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chk-approve-hr",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1232,
        3104
      ],
      "id": "a55083b9-9e82-432c-8821-7c054f8a348b",
      "name": "Check Action HR"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép đã được HR phê duyệt cuối cùng",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #047857; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Yêu Cầu Nghỉ Phép Đã Được HR Phê Duyệt</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Đơn xin nghỉ phép của bạn đã được <strong>Phòng Nhân sự (HR) phê duyệt cuối cùng</strong>.</p>\n        \n        <div style=\"background-color: #f0fdf4; border-left: 4px solid #047857; padding: 12px 15px; color: #065f46; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            🎉 Quy trình phê duyệt đã hoàn tất. Chúc bạn có một kỳ nghỉ vui vẻ và ý nghĩa!\n        </div>\n\n        <p style=\"font-weight: bold; color: #374151;\">Chi tiết lịch nghỉ đã được ghi nhận:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <p style=\"margin-top: 20px; margin-bottom: 0;\"><strong>Lưu ý:</strong> Dữ liệu nghỉ phép của bạn đã được cập nhật vào hệ thống chấm công của công ty. Nếu có bất kỳ sự cố đột xuất nào cần hủy hoặc dời lịch nghỉ, vui lòng liên hệ trực tiếp với Phòng Nhân sự sớm nhất có thể.</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ $json.employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "878a9a2b-2c8e-4f86-953d-ab0c805b3c25",
      "name": "Notify Employee1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2048,
        3040
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Yêu cầu nghỉ phép bị từ chối bởi HR",
        "includeHtml": true,
        "htmlMessage": "=<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; border: 1px solid #e5e7eb; border-radius: 12px; overflow: hidden;\">\n    <div style=\"background-color: #dc2626; color: #ffffff; padding: 20px; text-align: center;\">\n        <h2 style=\"margin: 0; font-size: 18px; text-transform: uppercase; letter-spacing: 1px;\">Thông Báo Trạng Thái Nghỉ Phép (HR)</h2>\n    </div>\n\n    <div style=\"padding: 30px;\">\n        <p style=\"margin-top: 0;\">Kính gửi <strong>{{ $json.employeeName }}</strong>,</p>\n        <p>Hệ thống xin thông báo: Yêu cầu nghỉ phép của bạn đã được Phòng Nhân sự xem xét. Tuy nhiên, rất tiếc là chúng tôi **không thể phê duyệt** đơn xin nghỉ này vào thời điểm hiện tại.</p>\n        \n        <p style=\"font-weight: bold; color: #374151; margin-top: 20px;\">Chi tiết yêu cầu đã gửi:</p>\n        <table style=\"width: 100%; border-collapse: collapse; margin: 10px 0; background-color: #f9fafb; border-radius: 8px;\">\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; width: 140px; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Thời gian nghỉ:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDate }}</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280; border-bottom: 1px solid #edf2f7;\">Tổng số ngày:</td>\n                <td style=\"padding: 12px 15px; border-bottom: 1px solid #edf2f7;\">{{ $json.leaveDays }} ngày</td>\n            </tr>\n            <tr>\n                <td style=\"padding: 12px 15px; font-weight: bold; color: #6b7280;\">Lý do nghỉ:</td>\n                <td style=\"padding: 12px 15px;\">{{ $json.reason }}</td>\n            </tr>\n        </table>\n\n        <div style=\"background-color: #fef2f2; border-left: 4px solid #dc2626; padding: 12px 15px; color: #991b1b; font-weight: 500; border-radius: 4px; margin: 20px 0;\">\n            ℹ️ Vui lòng liên hệ trực tiếp với Phòng Nhân sự (HR) để được giải thích rõ hơn về lý do cụ thể hoặc để được hỗ trợ sắp xếp lại lịch nghỉ phù hợp hơn.\n        </div>\n\n        <p style=\"margin-bottom: 0;\">Xin cảm ơn sự thông cảm và hợp tác của bạn!</p>\n    </div>\n\n    <div style=\"background-color: #f3f4f6; color: #9ca3af; padding: 15px; text-align: center; font-size: 12px;\">\n        <p style=\"margin: 0;\">Đây là email tự động từ Hệ thống Quản trị Nhân sự n8n.</p>\n        <p style=\"margin: 5px 0 0 0;\">Vui lòng không phản hồi lại email này.</p>\n    </div>\n</div>",
        "message": "=",
        "toList": [
          "={{ .employeeEmail }}"
        ],
        "additionalFields": {}
      },
      "id": "24cc13b0-bd2f-477a-8259-bf16069930b5",
      "name": "Notify Employee1 (Rejected)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2080,
        3296
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gA248K2gJK6X1hxp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "413683d2-a94a-472a-8c70-fd86136de9e4",
      "name": "Respond Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2384,
        3152
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Leave Request Webhook": {
      "main": [
        [
          {
            "node": "Switch Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Department": {
      "main": [
        [
          {
            "node": "IT Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marketing Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IT Manager": {
      "main": [
        [
          {
            "node": "Send Email To Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Manager": {
      "main": [
        [
          {
            "node": "Send Email To Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Manager": {
      "main": [
        [
          {
            "node": "Send Email To Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Manager": {
      "main": [
        [
          {
            "node": "Send Email To Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email To Manager": {
      "main": [
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision": {
      "main": [
        [
          {
            "node": "Route Manager Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Manager Action": {
      "main": [
        [
          {
            "node": "Notify Employee",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Employee (Rejected)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Employee (Waiting HR)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email To Hr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee": {
      "main": [
        [
          {
            "node": "Respond Webhook MGR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee (Rejected)": {
      "main": [
        [
          {
            "node": "Respond Webhook MGR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee (Waiting HR)": {
      "main": [
        []
      ]
    },
    "Send Email To Hr": {
      "main": [
        [
          {
            "node": "Respond Webhook MGR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision2": {
      "main": [
        [
          {
            "node": "Check Action HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Action HR": {
      "main": [
        [
          {
            "node": "Notify Employee1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Employee1 (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee1": {
      "main": [
        [
          {
            "node": "Respond Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Employee1 (Rejected)": {
      "main": [
        [
          {
            "node": "Respond Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be113734-041b-49c0-8f0a-ad6cf0b85114",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a831f36a4592b7e2489dd2e8d454ce5bcf3c1e27a52a1c1c56da0af10735e74a"
  },
  "id": "HjSuOqHgXJ7L3Iz5",
  "tags": []
}