n8n/Meeting Room Booking v4 - Single Row.json
{
  "name": "Meeting Room Booking v4 - Single Row",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-room-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0f975d34-cceb-460d-8ff0-ae3d6e87ecd3",
      "name": "Webhook Nhận yêu cầu",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "3fdcef80-4b54-4560-96a1-28edb6582013"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst required = ['requester_name','requester_email','department','room_id','meeting_date','start_time','end_time','purpose'];\nconst missing = required.filter(f => !body[f]);\nif (missing.length > 0) return [{ json: { valid: false, errors: missing } }];\nconst bookingId = 'MTG-' + Date.now().toString(36).toUpperCase();\nreturn [{ json: { valid: true, booking_id: bookingId, requester_name: body.requester_name, requester_email: body.requester_email, department: body.department, room_id: body.room_id, room_name: body.room_name || body.room_id, meeting_date: body.meeting_date, start_time: body.start_time, end_time: body.end_time, attendees: body.attendees || 1, purpose: body.purpose, notes: body.notes || '', status: 'pending_approval', created_at: new Date().toISOString(), manager_email: body.manager_email || 'manager@company.com' } }];"
      },
      "id": "6c977548-6082-4a86-a337-a391ce678e13",
      "name": "Validate dữ liệu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cff51296-f924-4abd-9ce3-7fe0267e5ae7",
      "name": "Hợp lệ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst bookedSlots = { 'ROOM-A': [], 'ROOM-B': ['09:00-10:00'], 'ROOM-C': [], 'ROOM-D': ['09:00-17:00'] };\nconst slots = bookedSlots[data.room_id] || [];\nlet conflict = false;\nfor (const slot of slots) { const [s,e] = slot.split('-'); if (data.start_time < e && data.end_time > s) { conflict=true; break; } }\nreturn [{ json: { ...data, room_available: !conflict } }];"
      },
      "id": "be4316b8-4404-4261-b66a-30ef1c841298",
      "name": "Kiểm tra phòng",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.room_available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2c51ad48-7172-41b9-9346-1bc95ed1157f",
      "name": "Phòng trống?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { ...data, saved: true } }];"
      },
      "id": "eda41e42-2466-410e-a7db-6904317f7770",
      "name": "Lưu đặt phòng",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "anhlq.23ite@vku.udn.vn",
        "toEmail": "quanganh.hs2004@gmail.com",
        "subject": "=[YEU CAU PHE DUYET] Dat phong {{ $json.room_name }} - {{ $json.meeting_date }}",
        "html": "==<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><div style=\"background:#1a73e8;color:white;padding:20px;border-radius:8px 8px 0 0\"><h2 style=\"margin:0\">🏢 Yeu cau Dat Phong Hop</h2></div><div style=\"padding:20px;border:1px solid #e0e0e0\"><p><strong>Ma dat phong:</strong> {{ $json.booking_id }}</p><p><strong>Nguoi yeu cau:</strong> {{ $json.requester_name }}</p><p><strong>Phong:</strong> {{ $json.room_name }}</p><p><strong>Ngay:</strong> {{ $json.meeting_date }}</p><p><strong>Thoi gian:</strong> {{ $json.start_time }} - {{ $json.end_time }}</p><p><strong>Muc dich:</strong> {{ $json.purpose }}</p></div><div style=\"padding:20px;text-align:center;border:1px solid #e0e0e0;border-top:none\"><a href=\"http://localhost:5678/webhook/approve-booking?id={{ $json.booking_id }}&action=approve\" style=\"background:#34a853;color:white;padding:12px 30px;text-decoration:none;border-radius:6px;margin-right:10px;display:inline-block\">✅ PHE DUYET</a><a href=\"http://localhost:5678/webhook/approve-booking?id={{ $json.booking_id }}&action=reject\" style=\"background:#ea4335;color:white;padding:12px 30px;text-decoration:none;border-radius:6px;display:inline-block\">❌ TU CHOI</a></div></div>",
        "options": {}
      },
      "id": "88eb0595-4235-464c-90f4-2e182525d636",
      "name": "Email cho Manager",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1328,
        0
      ],
      "webhookId": "ee5398c4-51b8-418d-bf4f-f684eb934da7",
      "credentials": {
        "smtp": {
          "id": "gahSCT7HZYRHZBIb",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":true,\"message\":\"Yeu cau da gui, dang cho phe duyet\",\"status\":\"pending_approval\"}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "d0c79ee4-8f2d-42d1-be20-97d327b7c2f0",
      "name": "Phản hồi thành công",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"message\":\"Du lieu khong hop le\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "ffd2383e-15e4-45e4-868c-82aefaf4ca26",
      "name": "Lỗi validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\":false,\"message\":\"Phong da duoc dat trong gio nay\"}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "c3091086-bd9d-4ace-a75d-9cdf2900b357",
      "name": "Lỗi xung đột",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        208
      ]
    },
    {
      "parameters": {
        "path": "approve-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5a660db1-82da-4199-bfec-6668fbb8c965",
      "name": "Webhook Phê duyệt",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "6de37734-7d2c-4182-a3eb-12ea22b94da3"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst bookingId = query.id;\nconst action = query.action;\nif (!bookingId || !action) {\n  return [{ json: { valid: false } }];\n}\nreturn [{ json: { booking_id: bookingId, requester_name: 'Le Quang Anh', requester_email: 'quanganh.hs2004@gmail.com', room_name: 'Phong hop A - Hoa Sen', meeting_date: '2025-04-01', start_time: '10:00', end_time: '11:30', purpose: 'Sprint Planning Q2 2025', action: action, approved_at: new Date().toISOString() } }];"
      },
      "id": "8d3154bd-246b-4eef-8dfc-d53c26e4b199",
      "name": "Xử lý phê duyệt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68001148-cd1b-4061-96aa-78f62055cf24",
      "name": "Approve hay Reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "quanganh.hs2004@gmail.com",
        "toEmail": "anhlq.23ite@vku.udn.vn",
        "subject": "=[XAC NHAN] Dat phong DA DUOC PHE DUYET",
        "html": "==<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><div style=\"background:#34a853;color:white;padding:20px;border-radius:8px 8px 0 0\"><h2 style=\"margin:0\">✅ Yeu cau dat phong DA DUOC PHE DUYET!</h2></div><div style=\"padding:20px;border:1px solid #e0e0e0\"><p>Xin chao <strong>{{ $json.requester_name }}</strong>,</p><div style=\"background:#e8f5e9;padding:15px;border-radius:6px;border-left:4px solid #34a853\"><p><strong>Ma dat phong:</strong> {{ $json.booking_id }}</p><p><strong>Phong:</strong> {{ $json.room_name }}</p><p><strong>Ngay:</strong> {{ $json.meeting_date }}</p><p><strong>Thoi gian:</strong> {{ $json.start_time }} - {{ $json.end_time }}</p><p><strong>Muc dich:</strong> {{ $json.purpose }}</p></div><p>Vui long den dung gio!</p></div></div>",
        "options": {}
      },
      "id": "2d02775a-38cd-4355-b507-bc9acd380faf",
      "name": "Email PHÊ DUYỆT",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        816,
        352
      ],
      "webhookId": "5ded5be9-52fc-4b2d-bc3d-c17e77e12cf5",
      "credentials": {
        "smtp": {
          "id": "gahSCT7HZYRHZBIb",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Da phe duyet thanh cong! Ma dat phong: {{ $json.booking_id }}",
        "options": {}
      },
      "id": "80ec64c9-1aa5-4827-8abc-08d3dea4c223",
      "name": "Trang Phê duyệt OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1376,
        384
      ]
    },
    {
      "parameters": {
        "fromEmail": "quanganh.hs2004@gmail.com",
        "toEmail": "anhlq.23ite@vku.udn.vn",
        "subject": "=[THONG BAO] Dat phong BI TU CHOI",
        "html": "==<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><div style=\"background:#ea4335;color:white;padding:20px;border-radius:8px 8px 0 0\"><h2 style=\"margin:0\">❌ Yeu cau dat phong BI TU CHOI</h2></div><div style=\"padding:20px;border:1px solid #e0e0e0\"><p>Xin chao <strong>{{ $json.requester_name }}</strong>,</p><p>Rat tiec, yeu cau dat phong cua ban da bi quan ly tu choi.</p><div style=\"background:#fce8e6;padding:15px;border-radius:6px;border-left:4px solid #ea4335\"><p><strong>Ma dat phong:</strong> {{ $json.booking_id }}</p><p><strong>Phong hop:</strong> {{ $json.room_name }}</p><p><strong>Ngay:</strong> {{ $json.meeting_date }}</p><p><strong>Thoi gian:</strong> {{ $json.start_time }} - {{ $json.end_time }}</p><p><strong>Muc dich:</strong> {{ $json.purpose }}</p></div><p style=\"margin-top:20px\">Vui long lien he quan ly hoac gui lai yeu cau voi thoi gian khac.</p></div><div style=\"padding:15px;background:#f8f9fa;border:1px solid #e0e0e0;border-top:none;border-radius:0 0 8px 8px;text-align:center\"><p style=\"margin:0;color:#888;font-size:12px\">Email tu dong tu he thong quan ly phong hop</p></div></div>",
        "options": {}
      },
      "id": "12b3d484-4dcd-4288-8490-fd0a057c71f3",
      "name": "Email TỪ CHỐI",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1008,
        656
      ],
      "webhookId": "7bbe63ad-a47c-44ef-af7e-c4e657c249b9",
      "credentials": {
        "smtp": {
          "id": "gahSCT7HZYRHZBIb",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Da tu choi yeu cau. Ma dat phong: {{ $json.booking_id }}",
        "options": {}
      },
      "id": "3e4bcf15-5dbf-44d1-8d0d-f6ed1f74ff9f",
      "name": "Trang Từ chối OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1392,
        704
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            },
            {}
          ]
        }
      },
      "id": "4eaf82a3-f39c-454b-9cb4-7c8f80c33af8",
      "name": "Nhắc nhở 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nreturn [{ json: { booking_id:'MTG-DEMO1', requester_name:'Nguyen Van A', requester_email:'nva@company.com', room_name:'Phong hop A', start_time:'09:00', end_time:'10:30', purpose:'Review du an', attendees:5, today } }];"
      },
      "id": "d9255d49-b2e2-45c7-9b7a-c009d794423a",
      "name": "Lấy lịch hôm nay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        880
      ]
    },
    {
      "parameters": {
        "fromEmail": "quanganh.hs2004@gmail.com",
        "toEmail": "anhlq.23ite@vku.udn.vn",
        "subject": "=[NHAC NHO] Phong hop {{ $json.room_name }} hom nay {{ $json.start_time }}",
        "options": {}
      },
      "id": "bde86fb8-16fd-46e7-9a13-2f3bb2ebc3af",
      "name": "Email nhắc nhở",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        880
      ],
      "webhookId": "ad514857-625d-467c-b61f-3abfa5eec3df",
      "credentials": {
        "smtp": {
          "id": "gahSCT7HZYRHZBIb",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Nhận yêu cầu": {
      "main": [
        [
          {
            "node": "Validate dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate dữ liệu": {
      "main": [
        [
          {
            "node": "Hợp lệ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hợp lệ?": {
      "main": [
        [
          {
            "node": "Kiểm tra phòng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lỗi validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra phòng": {
      "main": [
        [
          {
            "node": "Phòng trống?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phòng trống?": {
      "main": [
        [
          {
            "node": "Lưu đặt phòng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lỗi xung đột",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu đặt phòng": {
      "main": [
        [
          {
            "node": "Email cho Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email cho Manager": {
      "main": [
        [
          {
            "node": "Phản hồi thành công",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Phê duyệt": {
      "main": [
        [
          {
            "node": "Xử lý phê duyệt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý phê duyệt": {
      "main": [
        [
          {
            "node": "Approve hay Reject?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve hay Reject?": {
      "main": [
        [
          {
            "node": "Email PHÊ DUYỆT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email TỪ CHỐI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email PHÊ DUYỆT": {
      "main": [
        [
          {
            "node": "Trang Phê duyệt OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email TỪ CHỐI": {
      "main": [
        [
          {
            "node": "Trang Từ chối OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhắc nhở 8AM": {
      "main": [
        [
          {
            "node": "Lấy lịch hôm nay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy lịch hôm nay": {
      "main": [
        [
          {
            "node": "Email nhắc nhở",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6de15dfd-b956-49e6-b163-93444a716afc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ff95761a2cb1ff3a349163b779f2e31c0f048ac8c6248e620830c9cca48572f"
  },
  "id": "lO1qiR2WqxyouGs9",
  "tags": []
}